@import "base/tool";

/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */

$mainColor: #f47933;
$mainFontColor: #333;
$disableColor: #fb985f;
$blueColor: #24aae1;
$photoBgColor: #f1f1f1;
$rootFontSize: (100px/2);