@import "../_config";

body {
    background: #F0F0F0;
}

.ui-advice {

}
.ui-advice__title {
    height: 0.5rem;
    line-height: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    font-size: 0.24rem;
    color: #9E9E9E;
    padding: 0 0.2rem;
}
.ui-advice__item {
    background: #fff;
    padding: 0 0.2rem;
    overflow: hidden;
    &.is-active {
        margin-bottom: 0.15rem;
    }
}
.ui-advice__item-head {
    color: #3D3D3D;
    font-size: 0.28rem;
    height: 0.8rem;
    line-height: 0.8rem;
    padding-right: 0.4rem;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        transform: scaleY(.5);
        background-color: #E5E5E5;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}
.ui-advice__item-main {
    display: none;
    .is-active & {
        border: 0;
        padding: 0;
        outline: 0;
        display: block;
        width: 100%;
        height: 2.5rem;
        font-size: 0.3rem;
        line-height: 0.5rem;
        margin-bottom: 0.1rem;
    }
}

.ui-advice__item-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-135deg);
    right: 0.2rem;
    width: 0;
    height: 0;
    margin-top: 3px;
    .is-active & {
        transform: translateY(-50%) rotate(45deg);
        margin-top: -3px;
    }
    &::before,
    &::after {
        content: "";
        position: absolute;
        background-color: #BDBDBD;
    }
    &::before {
        width: 1px;
        height: 10px;
    }
    &::after {
        height: 1px;
        width: 10px;
    }
}
