@import "../_config";
body,
html {
    // position: relative;
    height: 100%;
    background-color: transparent;
}
.blurShadow{
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.65);
}
.ui-index {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    // z-index: 999;
}
.ui-button {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    line-height: 1.7rem;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 0.3rem;
    border-radius: 50%;
    border: 2px solid #fff;
    &:nth-child(1) {
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        background: #E35C5C;
    }
    &:nth-child(2) {
        top: 5.32rem;
        left: 1.4rem;
        background: #6F92D0;
    }
    &:nth-child(3) {
        top: 5.32rem;
        right: 1.4rem;
        background: #7EC385;
    }
}
