@import "../_config";
body {
    background: #ECECEC;
}
.ui-information {
    margin-top: 1rem;
    background: #ffffff;
}
.ui-information__main {
    position: relative;
    margin-top: 0.3rem;
    padding: 0.1rem 0.2rem 0.1rem + 1.3;
    textarea {
        padding-top: 0.3rem;
        width: 100%;
        // color: #9E9E9E;
        color: #3D3D3D;
        height: 2.5rem;
        line-height: 1;
        font-size: 0.32rem;
        border: 0;
        outline: 0;
        padding: 0;
        margin: 0;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #ececec;
        transform: rotateY(.5);
    }
}
.ui-choosePic {
    overflow: hidden;
}
.ui-information__choosePic {
    float: left;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    width: 1.3rem;
    height: 1.3rem;
    @include bgi-full(url(../../image/activity/activity-bmap-header.png));
}
.ui-information__more {
    float: left;
    position: relative;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    width: 1.3rem;
    height: 1.3rem;
    background: #fff;
    border: 1px #979797 solid;
    &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 0.9rem;
        background-color: #979797;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &::after {
        content: "";
        position: absolute;
        height: 0.9rem;
        width: 3px;
        background-color: #979797;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
.ui-information__content-audio,
.ui-information__content-image,
.ui-information__content-video {
    float: left;
    position: relative;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem + 0.6;
    text-align: center;
    font-size: 0.24rem;
    background: #F8F8F8;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin-top: -0.2rem;
    }
}
.ui-information__content-image {
    &::before {
        width: 0.46rem;
        height: 0.45rem;
        @include bgi-full(url(../../image/activity/information-image.png));
    }
}
.ui-information__content-video {
    &::before {
        width: 0.53rem;
        height: 0.39rem;
        @include bgi-full(url(../../image/activity/information-video.png));
    }
}
.ui-information__content-audio {
    &::before {
        width: 0.3rem;
        height: 0.4rem;
        @include bgi-full(url(../../image/activity/information-audio.png));
    }
}
.ui-information__main-image {
    position: absolute;
    left: 0.2rem;
    bottom: 0.1rem;
    width: 1.3rem;
    height: 1.3rem;
    @include bgi-full(url(../../image/activity/information-image.png));
}
.ui-information__main-privacy {
    position: absolute;
    color: #3D3D3D;
    right: 0.2rem;
    bottom: 0.2rem;
    font-size: 0.3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    padding-left: 0.4rem;
}
.false {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.28rem;
    height: 0.28rem;
    @include bgi-full(url(../../image/activity/information-checked.png));
}
.true{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.28rem;
    height: 0.28rem;
    @include bgi-full(url(../../image/activity/publish-privacy-false.png));
}
.ui-information__aside-location {
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.4rem 0 0.2rem;
    color: #3D3D3D;
    font-size: 0.26rem;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    position: relative;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
.ui-information__aside-label {
    float: left;
    position: relative;
    padding-left: 0.45rem;
    margin-right: 0.15rem;
    color: #3D3D3D;
    font-size: 0.3rem;
    &::before {
        content: "";
        position: absolute;
        // top: 0;
        left: 0;
        width: 0.28rem;
        height: 0.38rem;
        top: 50%;
        transform: translateY(-50%);
        @include bgi-full(url(../../image/activity/information-location.png));
    }
}
.ui-information__text{
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.24rem;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
}
.ui-information__aside-arrow {
    position: absolute;
    top: 50%;
    right: 0.15rem;
    width: 0;
    height: 0;
    transform: rotate(135deg);
    &::after,
    &::before {
        content: "";
        position: absolute;
        background: #878787;
        top: 0;
        left: 0;
    }
    &::before {
        width: 2px;
        height: 12px;
        border-radius: 2px;
    }
    &::after {
        width: 12px;
        height: 2px;
        border-radius: 2px;
    }
}
