@import "../_config";
body {
    background-color: #fff;
}
.ui-publish {
    margin-top: 0.9rem;
    background-color: #fff;
    padding-bottom: 2.5rem;
    input,
    textarea {
        outline: 0;
    }
}
.ui-publish__box {
    padding: 0.2rem;
}
.ui-publish__item {
    position: relative;
    margin-bottom: 0.1rem;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
    &:nth-child(1) {
        .ui-publish__label {
            &::after {
                width: 0.32rem;
                height: 0.29rem;
                @include bgi-full(url(../../image/activity/publish-target.png));
            }
        }
    }
    &:nth-child(2) {
        .ui-publish__label {
            &::after {
                width: 0.3rem;
                height: 0.24rem;
                @include bgi-full(url(../../image/activity/publish-activity.png));
            }
        }
    }
    &:nth-child(3) {
        .ui-publish__label {
            &::after {
                width: 0.32rem;
                height: 0.32rem;
                @include bgi-full(url(../../image/activity/publish-time.png));
            }
        }
    }
    &:nth-child(4) {
        .ui-publish__label {
            &::after {
                width: 0.26rem;
                height: 0.38rem;
                @include bgi-full(url(../../image/activity/publish-location.png));
            }
        }
    }
}
.ui-publish__label {
    float: left;
    font-size: 0.3rem;
    color: #727272;
    width: 0.7rem;
    box-sizing: content-box;
    padding-left: 0.4rem;
    padding-right: 0.1rem;
    position: relative;
    height: 0.66rem;
    line-height: 0.66rem;
    &>p{
        float: left;
        font-size: 0.3rem;
        color: #727272;
        width: 2.4rem;
        box-sizing: content-box;
        padding-left: 0.6rem;
        padding-right: 0.1rem;
        margin-top: -0.65rem;
        position: relative;
        height: 0.66rem;
        line-height: 0.66rem;
    }
    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
.ui-publish__input {
    margin-top: 0.1rem;
    font-size: 0;
    overflow: hidden;
    .ui-publish__input-time,
    input,
    textarea {
        font-size: 0.26rem;
        color: #3D3D3D;
        border: 1px solid #979797;
        border-radius: 0.08rem;
        padding: 0 0.1rem;
    }
    input {
        &[type=text] {
            height: 0.66rem;
            line-height: 1;
            width: 100%;
        }
        &[type=time] {
            opacity: 0;
            position: absolute;
            pointer-events: none;
        }
    }
    textarea {
        width: 100%;
        // line-height: 0.66rem;
        padding-top: 0.2rem;
        min-height: 0.66rem * 3;
    }
}
.ui-publish__input-text,
.ui-publish__input-time {
    position: relative;
    height: 0.66rem;
    line-height: 0.66rem;
    text-align: center;
    // float: left;
    display: inline-block;
}
.ui-publish__input-text {
    font-size: 0.24rem;
    margin: 0 0.1rem;
}
.ui-publish__text {
    height: 0.66rem;
    line-height: 0.66rem;
    font-size: 0.24rem;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
}
.ui-publish__rewards {
    & > div {
        width: 50%;
        float: left;
        height: 0.6rem;
        line-height: 0.6rem;
        font-size: 0.4rem;
        color: #DF6363;
        padding-left: 0.4rem;
        position: relative;
        &::before {
            float: left;
            font-size: 0.3rem;
            color: #727272;
            width: 0.7rem;
            box-sizing: content-box;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 0.35rem;
            height: 0.35rem;
            margin-top: 1px;
        }
        input {
            border: 0;
            width: 100%;
            font-size: 0.4rem;
            color: #df6363;
        }
    }
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
.ui-publish__rewards1 {
    &::before {
        content: "悬赏";
    }
    &::after {
        @include bgi-full(url(../../image/activity/publish-rewarsd1.png));
    }
}
.ui-publish__rewards2 {
    &::before {
        content: "打赏";
    }
    &::after {
        @include bgi-full(url(../../image/activity/publish-rewarsd2.png));
    }
}
.ui-publish__rewards3 {
    &::before {
        content: "求赏";
    }
    &::after {
        @include bgi-full(url(../../image/activity/publish-rewarsd3.png));
    }
}
.ui-publish__rewards4 {
    &::before {
        content: "定金";
    }
    &::after {
        @include bgi-full(url(../../image/activity/publish-rewarsd4.png));
    }
}
.ui-publish__rewards-input {
    font-size: 0;
    overflow: hidden;
}
.ui-bg {
    margin-top: 0.2rem;
    height: 0.3rem;
    background-color: #eee;
}
.ui-publish__content {
    display: block;
    padding-top: 0.2rem;
    font-size: 0;
    textarea {
        display: block;
        width: 100%;
        border: 0;
        padding: 0 0.1rem;
        font-size: 0.3rem;
        height: 2rem;
    }
}
.ui-choosePic {
    overflow: hidden;
}
.ui-publish__choosePic {
    float: left;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    width: 1.3rem;
    height: 1.3rem;
    @include bgi-full(url(../../image/activity/activity-bmap-header.png));
}
.ui-publish__more {
    float: left;
    position: relative;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
    width: 1.3rem;
    height: 1.3rem;
    background: #fff;
    border: 1px #979797 solid;
    &::before {
        content: "";
        position: absolute;
        height: 3px;
        width: 0.9rem;
        background-color: #979797;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &::after {
        content: "";
        position: absolute;
        height: 0.9rem;
        width: 3px;
        background-color: #979797;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
}
.ui-publish__content-audio,
.ui-publish__content-image,
.ui-publish__content-video {
    float: left;
    position: relative;
    margin-bottom: 0.2rem;
    margin-left: 0.2rem;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.3rem + 0.6;
    text-align: center;
    font-size: 0.24rem;
    background: #F8F8F8;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        margin-top: -0.2rem;
    }
}
.ui-publish__content-image {
    &::before {
        width: 0.46rem;
        height: 0.45rem;
        @include bgi-full(url(../../image/activity/publish-image.png));
    }
}
.ui-publish__content-video {
    &::before {
        width: 0.53rem;
        height: 0.39rem;
        @include bgi-full(url(../../image/activity/publish-video.png));
    }
}
.ui-publish__content-audio {
    &::before {
        width: 0.3rem;
        height: 0.4rem;
        @include bgi-full(url(../../image/activity/publish-audio.png));
    }
}
.ui-publish__content-privacy {
    float: right;
    margin-top: 1rem;
    font-size: 0.3rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
}
.true {
    display: block;
    float: right;
    margin-top: 1rem;
    width: 0.28rem;
    height: 0.28rem;
    @include bgi-full(url(../../image/activity/publish-privacy-false.png));
}
.false {
    display: block;
    float: right;
    margin-top: 1rem;
    width: 0.28rem;
    height: 0.28rem;
    @include bgi-full(url(../../image/activity/information-checked.png));
}
.ui-publish__bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.68rem;
    overflow: hidden;
    z-index: 99;
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
.ui-publish__button {
    height: 0.68rem;
    line-height: 0.68rem;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 0.3rem;
    color: #7E7E7E;
    background: #D8D8D8;
}
.ui-publish__button2 {
    height: 0.68rem;
    line-height: 0.68rem;
    float: left;
    width: 50%;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    background: #98C13E;
}
