@import "../_config";

.history-main{
	min-height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction:column;
	.tab-list{
		flex:1;
		li{
			font-size: .30rem;
			line-height: .96rem;
			height: .96rem;
			color:#3D3D3D;
			border-bottom: 1px solid #E5E5E5;
			display: flex;
			background-color: #fff;
			.mark{
				flex:1;
				margin-left: .20rem;
			}
			.icon-arrow{
				width:.40rem;
				height: 100%;
				margin: 0 .20rem 0 .14rem;
				background-repeat: no-repeat;
				background-position: center center;
				background-image: url(../../image/privacy/icon-arrow.png);
				background-size: .19rem;
			}
		}
	}
}