@import "../_config";
body,
html {
    height: 100%;
}
.information-main {
    min-height: 100%;
    background-color: #fff;
    // display: flex;
    // flex-direction: column;
    .tab-list {
        // flex: 1;

        li {
            position: relative;
            font-size: 0.30rem;
            line-height: 0.96rem;
            height: 0.96rem;
            color: #3D3D3D;
            border-bottom: 1px solid #E5E5E5;
            // display: flex;
            align-items: center;
            background-color: #fff;
            &:active {
                background-color: #c2c4c2;
            }
            .mark {
                // flex: 1;
                // height: 100%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0rem;
                margin-left: 0.2rem;
                margin-right: 2.1rem;
                z-index: 99;
            }
            .icon-arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0rem;
                width: 0.40rem;
                height: 0.4rem;
                // height: 100%;
                margin: 0 0.20rem 0 0.14rem;
                background-repeat: no-repeat;
                background-position: center center;
                background-image: url("../../image/privacy/icon-arrow.png");
                background-size: 0.19rem;
            }
            .message {
                // position: absolute;
                // top: 50%;
                // transform: translateY(-50%);
                // right: 0.7rem;
                float: right;
                margin-right: 0.7rem;
                text-align: right;
                overflow: hidden;
                white-space: nowrap;
                word-wrap: break-word;
                word-break: break-all;
                text-overflow: ellipsis;
                color: #A9A9A9;
                width: 60%;

            }
            .qr-code {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0.8rem;
                width: 0.44rem;
                height: 0.44rem;
                margin-left: 0.20rem;
                background-image: url("../../image/privacy/information/QRcode.png");
                background-position: center center;
                background-repeat: no-repeat;
                background-size: 0.44rem;
            }
            &.avatar {
                position: relative;
                line-height: 1.60rem;
                height: 1.60rem;
                .mark {
                    line-height: 0.96rem;
                }
                .pic {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 0.8rem;
                    width: 1.26rem;
                    height: 1.26rem;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-image: url("../../image/privacy/icon-avatar.png");
                    background-size: cover;
                    border-radius: 6px;
                }
            }
        }
    }
}
.information-qrcode-main {
    min-height: 100%;
    background-color: #545454;
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        width: 7.1rem;
        padding: 0.4rem 0 0.86rem;
        background-color: #fff;
    }
    .messages {
        margin: 0 0.4rem;
        overflow: hidden;
        .avatar {
            width: 1.26rem;
            height: 1.26rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-image: url("../../image/privacy/icon-avatar.png");
            background-size: 1.26rem;
            margin-right: 0.3rem;
            float: left;
            border-radius: 6px;
        }
        .name {
            color: #3D3D3D;
            font-size: 0.36rem;
            line-height: 0.5rem;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem;
        }
        .location {
            color: #9E9E9E;
            font-size: 0.28rem;
            line-height: 0.5rem;
        }
    }
    .qrcode {
        width: 5.77rem;
        height: 5.77rem;
        margin: 0.4rem auto 0;
        padding-left: 0.6rem;
        padding-top: 0.6rem;
        border-radius: 6px;
        background-color: #923D3D;
        background-position: center center;
        background-repeat: no-repeat;
        // background-image: url("../../image/privacy/information/bitmap.png");
        background-size: 4.12rem;
    }
}
.information-row-main {
    position: relative;
    margin-top: 0.3rem;
    font-size: 0;
    width: 100%;
    height: 1rem;
    input {
        width: 100%;
        height: 1rem;
        padding-left: 0.3rem;
        outline: none;
        border: none;
        font-size: 0.36rem;
        background-color: #fff;
    }
    .btn-delete {
        width: 0.44rem;
        height: 0.44rem;
        position: absolute;
        right: 0.3rem;
        top: 50%;
        margin-top: -0.22rem;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-image: url("../../image/privacy/information/close.png");
        background-size: 100%;
    }
}
.information-sex-main {
    margin-top: 0.3rem;
    font-size: 0;
    width: 100%;
    height: 1rem;
    .sex-line {
        position: relative;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        padding-left: 0.3rem;
        background-color: #fff;
        font-size: 0.36rem;
        border-bottom: 1px #EEE solid;
        &:active {
            background-color: #c2c4c2;
        }
        .icon-right {
            width: 0.36rem;
            height: 0.36rem;
            position: absolute;
            right: 0.3rem;
            top: 50%;
            margin-top: -0.18rem;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: url("../../image/privacy/information/right.png");
            background-size: 100%;
        }
    }
}
.information-textarea-main {
    position: relative;
    font-size: 0;
    margin-top: 0.3rem;
    textarea {
        width: 100%;
        height: 2rem;
        padding-left: 0.3rem;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
        padding-right: 0.3rem;
        outline: none;
        border: none;
        font-size: 0.36rem;
        background-color: #fff;
    }
    & > span {
        position: absolute;
        right: 0.3rem;
        bottom: 0.2rem;
        font-size: 0.36rem;
        color: #c2c4c2;
    }
}
.information-region-main{
    font-size: 0;
    margin-top: 0.3rem;
    .region{
        padding-left: 0.2rem;
        text-align: center;
        font-size: 0.36rem;
        color: #000;
        width: 100%;
        height: 1rem;
        line-height: 1rem;
        background-color: #FFF;
    }
    span{
        text-align: center;
        color: #A9A9A9;
    }
}
