@import "../_config";
.ui-trajectoryTrack {
    width: 100%;
    height: 100%;
    background-color: #fff;
    // overflow: hidden;
    .pie {
        height: 5.00rem;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
    .type-list {
        margin: 0 0.20rem;
        overflow: hidden;
        dt {
            width: 100%;
            margin-bottom: 0.20rem;
        }
        dd {
            float: left;
            margin: 0 0.22rem 0.20rem 0;
            position: relative;
            &::before {
                content: "";
                width: 0.12rem;
                height: 0.12rem;
                background-color: currentColor;
                position: absolute;
                left: 0;
                top: 0.14rem;
            }
            &:nth-child(2) {
                color: #F5694B;
            }
            &:nth-child(3) {
                color: #FEAE08;
            }
            &:nth-child(4) {
                color: #06AD92;
            }
            &:nth-child(5) {
                color: #87CB14;
            }
            &:nth-child(6) {
                color: #13E1C7;
            }
            &:nth-child(7) {
                color: #BB2FD8;
            }
            &:nth-child(8) {
                color: #DDC698;
            }
            &:nth-child(9) {
                color: #7FB8C4;
            }
            &:nth-child(10) {
                color: #3384FF;
            }
            &:nth-child(11) {
                color: #FF9076;
            }
            &:nth-child(12) {
                color: #AF4373;
            }
            &:nth-child(13) {
                color: #2b0fff;
            }
            &:nth-child(14) {
                color: #FFC8B2;
            }
            &:nth-child(15) {
                color: #7889A2;
            }
            &:nth-child(16) {
                color: #8D6725;
            }
        }
        .mark {
            display: inline-block;
            font-size: 0.30rem;
            line-height: 0.50rem;
            height: 0.50rem;
            color: #3D3D3D;
            border-bottom: 1px solid #979797;
            padding: 0 0.20rem 0 0.10rem;
        }
        .name {
            font-size: 0.28rem;
            line-height: 0.40rem;
            color: #AEAEAE;
            padding-left: 0.20rem;
            margin-bottom: 0.10rem;
        }
    }
}
