@import "../_config";

$red : #D15757;
$blue : #87ABE1;

body {
    background: #fff;
}

.ui-list {

}
.ui-list__item {
    height: 1.6rem;
    position: relative;
    padding: 0.26rem 0.2rem;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 1px;
        width: 100%;
        background-color: #D7D7D7;
        transform: scaleY(.5);
    }
    &::after {
        content: "VS";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 0.6rem;
        color: #797B80;
        // clear: both;
        // display: table;
    }
}
.ui-list__user {
    width: 3.2rem;
    height: 1.08rem;
    overflow: hidden;
    &.is-left {
        float: left;
    }
    &.is-right {
        float: right;
    }
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
.ui-list__image {
    width: 1.08rem;
    height: 1.08rem;
    border-radius: 8%;
    background-size: cover;
    background-repeat: no-repeat;
    .is-left & {
        float: left;
        margin-right: 0.2rem;
    }
    .is-right & {
        float: right;
        margin-left: 0.2rem;
    }
}
.ui-list__vote {
    font-size: 0.3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    .is-left & {
        color: $red;
        text-align: left;
    }
    .is-right & {
        color: $blue;
        text-align: right;
    }
}
.ui-list__nickname {
    color: #4B4A4F;
    font-size: 0.3rem;
    height: 0.4rem;
    line-height: 0.4rem;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    .is-left & {
        text-align: left;
    }
    .is-right & {
        text-align: right;
    }
}
.ui-list__percentage {
    height: 0.1rem;
    overflow: hidden;
    margin-top: 0.1rem;
    i {
        display: block;
        height: 100%;
    }
    .is-left & {
        i {
            background: $red;
        }
    }
    .is-right & {
        i {
            float: right;
            background: $blue;
        }
    }
}
