<div class="ui-information">
    <div class="ui-information__main">
        <textarea placeholder="写下或录下你此时此刻的想法..." v-model="thinks"></textarea>
        <div class="ui-choosePic">
            <div class="ui-information__choosePic" style="background-image:url({{pic|trans-photo}});" v-for="pic in list"></div>
            <div class="ui-information__more" v-touch:tap="choosePic" v-show="showMore">
            </div>
        </div>
        <div class="ui-information__main-image" v-touch:tap="choosePic" v-show="showPic"></div>
        <div class="ui-information__main-privacy" v-touch:tap="onPrivacyTap">
            <div class="ui-information__content-privacy">朋友圈</div>
            <div v-bind:class="{'true':isPrivacy==1,'false':isPrivacy==2}">
            </div>
        </div>
    </div>
    <div class="ui-information__aside-location" v-touch:tap="onLocationTap">
        <div class="ui-information__aside-label">定位</div>
        <p v-show="showText">
            所在位置
        </p>
        <div class="ui-information__text">{{addr}}</div>
        <div class="ui-information__aside-arrow"></div>
    </div>
</div>
