@import "../_config";
html,
#header {
    box-sizing: content-box;
    z-index: 999;
}

.ui-header {
    display: block;
    // position: relative;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;
    font-size: 0.34rem;
    color: #eee;
    // background-color:$mainColor;
    background-color: #38373C;
    box-sizing: content-box;
    z-index: 999;
    &:after {
        content: '';
        display: none;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #c2c2c7;
        transform: scale(1, 0.5);
        transform-origin: center center;
    }
}

.ui-header__leftBtn,
.ui-header__rightBtn,
.ui-header__actionSheetLeftBtn {
    display: block;
    position: absolute;
    bottom: 0;
    width: 0.88rem;
    height: 0.88rem;
    // text-align: center;
    z-index: 9;
    &>i {
        display: inline-block;
        vertical-align: middle;
    }
}

.ui-header__leftBtn,
.ui-header__actionSheetLeftBtn {
    width: auto;
    padding-left: 0.42rem;
    left: 0;
    font-size: 0;
    &>i {
        &.is-arrow {
            display: block;
            position: absolute;
            left: 0.2rem;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 0.24rem;
            height: 0.42rem;
            @include bgi-full( url(../../image/common/icon-arrow-back.png));
        }
    }
    &>span {
        display: inline-block;
        font-size: 0.34rem;
        color: #ffd7b0;
    }
    &:active {
        opacity: 0.3;
    }
}

.ui-header__actionSheetLeftBtn {
    width: 1.88rem;
    min-width: 1rem;
}


.ui-header__rightBtn {
    right: 0;
}

.ui-header__title {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.88rem;
    padding: 0 0.88rem;
    box-sizing: border-box;
    @include ellipsis;
    text-align: center;
}

/* 详情页 */

.ui-header {
    &.is-detail {
        height: 1.6rem;
        background-color: #bc111a;
        line-height: 1;
    }
}

.ui-header__content {
    display: block;
    position: relative;
    height: 100%;
    padding-left: 0.3rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    padding-right: 1.4rem;
}

.ui-header__topic {
    height: 0.33rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #ffd7b0;
    @include ellipsis;
}

.ui-header__subtitle {
    display: block;
    height: 0.67rem;
    margin-top: 0.2rem;
    line-height: 1.2;
    font-size: 0.28rem;
    color: #ffd7b0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ui-header__logo {
    display: block;
    height: 0.5rem;
    margin-top: 0.35rem;
    font-size: 0;
    &>i {
        display: inline-block;
        width: 2.2rem;
        height: 0.5rem;
        @include bgi-full( url(../../image/read/logo.png))
    }
}

.ui-header__cover {
    display: block;
    position: absolute;
    right: 0.35rem;
    bottom: 0.2rem;
    width: 0.9rem;
    height: 1.2rem;
    background-color: #f1f1f1;
    box-shadow: 2px 2px 0 0 rgba(149, 132, 137, 1);
    @include bgi-full( url(../../image/placeholder.png));
}


/* bank common header */

.ui-header__actionSheet {
    display: block;
    position: absolute;
    width: 0.42rem;
    height: 0.42rem;
    right: 10px;
    top: 50%;
    margin-top: -0.21rem;
    @include bgi-full( url(../../image/common/common-menu.png));
    // @include bgi-full( url(../../image/common/icon-arrow-back.png));
}
