@import "../_config";

body {
    background-color: #fff;
    padding: 0 0.2rem;
    padding-top: 0.2rem;
    margin-bottom: 0.5rem + 0.8;
    overflow: scroll;
}

.ui- {
    &title {
        font-size: 0.3rem;
        color: #3D3D3D;
        margin-bottom: -0.2rem;
    }
    &item {
        margin-top: 0.45rem;
        border: 1px solid #98C13E;
        border-radius: 0.07rem;
        padding-left: 0.2rem;
        &::after {
            content: "";
            clear: both;
            display: table;
        }
        input {
            display: block;
            width: 100%;
            height: 0.8rem;
            // line-height: 0.8rem;
            font-size: 0.3rem;
            border: 0;
            outline: 0;
            padding: 0;
        }
    }
    // &input {
    //     overflow: hidden;
    //
    // }
    // &label {
    //     float: left;
    //     height: 0.8rem;
    //     font-size: 0.3rem;
    //     line-height: 0.8rem;
    //     padding-right: 0.1rem;
    // }
    &update {
        width: 4rem;
        height: 2.9rem;
        margin: 0 auto;
        margin-top: 0.85rem;
        border: 1px dashed #979797;
        position: relative;
    }
    &photo {
        position: absolute;
        top: 0.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 1.26rem;
        height: 1.26rem;
        @include bgi-full(url(../../image/verification/photo.png));
    }
    &text {
        position: absolute;
        width: 100%;
        top: 2rem;
        left: 0;
        text-align: center;
        font-size: 0.32rem;
    }
    &submit {
        position: fixed;
        background-color: #fff;
        left: 0;
        bottom: 0;
        height: 0.5rem + 0.8;
        width: 100%;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        span {
            display: block;
            width: 100%;
            height: 0.8rem;
            line-height: 0.8rem;
            text-align: center;
            font-size: 0.32rem;
            color: #fff;
            background-color: #98C13E;
            border-radius: 0.07rem;
        }
    }
}
