@import "../_config";

body {
	min-height: 100%;
	height: auto;
	line-height: 1.2;
    background-repeat: repeat-y;
    background-position: center center;
    background-size: 100% auto;
    color: #323232;
}

.ui-list__itemBlock{
	display: block;
	width: 100%;
	padding: 0 10px;
	background-color: #ffffff;
}

.ui-list__item{
	display: block;
	position: relative;
	width: 100%;
	height: 67px;
	border-bottom: 1px solid #9f9f9f;
	padding-top: 15px;
	&>b{
		display: block;
		position: absolute;
		top: 44px;
		font-size: 12px;
		color: #5a5a5a;
	}
}

.ui-list__itemName{
	display: inline;
	float: left;
	font-size: 14px;
	color: #323232;
	padding-top: 1px;
}

.ui-lst__itemConfirm{
	display: inline;
	position: block;
	float: left;
	width: 44px;
	height: 18px;
	line-height: 18px;
	font-size: 10px;
	color: #ffffff;
	text-align: center;
	margin-left: 10px;
	background-color: #98C13E;
	border-radius: 5px;
}

.ui-list__itemTime{
	display: block;
	width: 100%;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
	color: #b4b4b4;
}

.ui-list__buttom{
    display: block;
    height: 44px;
    line-height: 44px;
    margin: 0 10px;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    padding: 0 16px;
    margin-top: 20px;
    background-color: #98C13E;
    border-radius: 4px;
}
