@import "../_config";

.ui- {
    &list {
        overflow: hidden;
        background-color: #fff;
        &__ {
            &item {
                height: 0.8rem;
                line-height: 0.8rem;
                position: relative;
                padding-left: 0.2rem;
                padding-right: 0.5rem;
                font-size: 0.28rem;
                overflow: hidden;
                white-space: nowrap;
                word-wrap: break-word;
                word-break: break-all;
                text-overflow: ellipsis;
                &::after {
                    content: "";
                    position: absolute;
                    // top: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 1px;
                    transform: scaleY(.5);
                    background-color: #E5E5E5;
                }
                &:active {
                    background-color: #c2c4c2;
                }
            }
            &arrow {
                position: absolute;
                top: 50%;
                transform: translateY(-50%) rotate(135deg);
                right: 0.2rem;
                width: 0;
                height: 0;
                // margin-top: 3px;
                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    // background-color: #BDBDBD;
                    background-color: #999;
                    border-radius: 1px;
                }
                &::before {
                    width: 1px * 2;
                    height: 10px;
                }
                &::after {
                    height: 1px * 2;
                    width: 10px;
                }
            }
        }
    }
}
