@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
html,
#header {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 999; }

.ui-header {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.34rem;
  color: #eee;
  background-color: #38373C;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 999; }
  .ui-header:after {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #c2c2c7;
    -webkit-transform: scale(1, 0.5);
       -moz-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
         -o-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
        -ms-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center; }

.ui-header__leftBtn,
.ui-header__rightBtn,
.ui-header__actionSheetLeftBtn {
  display: block;
  position: absolute;
  bottom: 0;
  width: 0.88rem;
  height: 0.88rem;
  z-index: 9; }
  .ui-header__leftBtn > i,
  .ui-header__rightBtn > i,
  .ui-header__actionSheetLeftBtn > i {
    display: inline-block;
    vertical-align: middle; }

.ui-header__leftBtn,
.ui-header__actionSheetLeftBtn {
  width: auto;
  padding-left: 0.42rem;
  left: 0;
  font-size: 0; }
  .ui-header__leftBtn > i.is-arrow,
  .ui-header__actionSheetLeftBtn > i.is-arrow {
    display: block;
    position: absolute;
    left: 0.2rem;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0.24rem;
    height: 0.42rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    background-image: url(../../image/common/icon-arrow-back.png); }
  .ui-header__leftBtn > span,
  .ui-header__actionSheetLeftBtn > span {
    display: inline-block;
    font-size: 0.34rem;
    color: #ffd7b0; }
  .ui-header__leftBtn:active,
  .ui-header__actionSheetLeftBtn:active {
    opacity: 0.3; }

.ui-header__actionSheetLeftBtn {
  width: 1.88rem;
  min-width: 1rem; }

.ui-header__rightBtn {
  right: 0; }

.ui-header__title {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.88rem;
  padding: 0 0.88rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  text-align: center; }

/* 详情页 */
.ui-header.is-detail {
  height: 1.6rem;
  background-color: #bc111a;
  line-height: 1; }

.ui-header__content {
  display: block;
  position: relative;
  height: 100%;
  padding-left: 0.3rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-right: 1.4rem; }

.ui-header__topic {
  height: 0.33rem;
  font-size: 0.32rem;
  font-weight: bold;
  color: #ffd7b0;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left; }

.ui-header__subtitle {
  display: block;
  height: 0.67rem;
  margin-top: 0.2rem;
  line-height: 1.2;
  font-size: 0.28rem;
  color: #ffd7b0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.ui-header__logo {
  display: block;
  height: 0.5rem;
  margin-top: 0.35rem;
  font-size: 0; }
  .ui-header__logo > i {
    display: inline-block;
    width: 2.2rem;
    height: 0.5rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    background-image: url(../../image/read/logo.png); }

.ui-header__cover {
  display: block;
  position: absolute;
  right: 0.35rem;
  bottom: 0.2rem;
  width: 0.9rem;
  height: 1.2rem;
  background-color: #f1f1f1;
  -webkit-box-shadow: 2px 2px 0 0 #958489;
     -moz-box-shadow: 2px 2px 0 0 #958489;
          box-shadow: 2px 2px 0 0 #958489;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  background-image: url(../../image/placeholder.png); }

/* bank common header */
.ui-header__actionSheet {
  display: block;
  position: absolute;
  width: 0.42rem;
  height: 0.42rem;
  right: 10px;
  top: 50%;
  margin-top: -0.21rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  background-image: url(../../image/common/common-menu.png); }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxrQkFBaUI7QUFDakI7O0lBRUc7QUFDSDs7SUFFRztBQUNILDBCQUF5QjtBQUN6Qjs7O0lBR0c7QUFDSCxtQkFBa0I7QUFDbEIsa0JBQWlCO0FBQ2pCOzs7OztJQUtHO0FBQ0gsVUFBUztBQUNULFVBQVM7QUFDVCxhQUFZO0FBQ1osWUFBVztBQUNYLFlBQVc7QUFDWCxXQUFVO0FBQ1YsWUFBVztBQUNYLFdBQVU7QUFDVixXQUFVO0FBQ1YsV0FBVTtBQUNWLFNBQVE7QUFDUixXQUFVO0FBQ1YsV0FBVTtBQUNWLFdBQVU7QUFDVixZQUFXO0FBQ1g7O0VBRUUsaUNBQXdCO0tBQXhCLDhCQUF3QjtVQUF4Qix5QkFBd0I7RUFDeEIsY0FBYSxFQUFFOztBQUVqQjtFQUNFLGdCQUFlO0VBQ2Ysb0JBQW1CO0VBQ25CLFNBQVE7RUFDUixRQUFPO0VBQ1AsYUFBWTtFQUNaLGlCQUFnQjtFQUNoQixzQkFBcUI7RUFDckIsb0JBQW1CO0VBQ25CLGFBQVk7RUFDWiwyQkFBMEI7RUFDMUIsaUNBQXdCO0tBQXhCLDhCQUF3QjtVQUF4Qix5QkFBd0I7RUFDeEIsY0FBYSxFQUFFO0VBQ2Y7SUFDRSxhQUFZO0lBQ1osZUFBYztJQUNkLG9CQUFtQjtJQUNuQixTQUFRO0lBQ1IsV0FBVTtJQUNWLGFBQVk7SUFDWixhQUFZO0lBQ1osMkJBQTBCO0lBQzFCLGtDQUF5QjtPQUF6QiwrQkFBeUI7UUFBekIsOEJBQXlCO1NBQXpCLDZCQUF5QjtZQUF6QiwwQkFBeUI7SUFDekIseUNBQWdDO09BQWhDLHNDQUFnQztRQUFoQyxxQ0FBZ0M7U0FBaEMsb0NBQWdDO1lBQWhDLGlDQUFnQyxFQUFFOztBQUV0Qzs7O0VBR0UsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsV0FBVTtFQUNWLGdCQUFlO0VBQ2YsaUJBQWdCO0VBQ2hCLFlBQVcsRUFBRTtFQUNiOzs7SUFHRSx1QkFBc0I7SUFDdEIsd0JBQXVCLEVBQUU7O0FBRTdCOztFQUVFLGFBQVk7RUFDWix1QkFBc0I7RUFDdEIsU0FBUTtFQUNSLGNBQWEsRUFBRTtFQUNmOztJQUVFLGdCQUFlO0lBQ2Ysb0JBQW1CO0lBQ25CLGNBQWE7SUFDYixRQUFPO0lBQ1AsV0FBVTtJQUNWLGNBQWE7SUFDYixnQkFBZTtJQUNmLGlCQUFnQjtJQUNoQiw4QkFBNkI7SUFDN0IsMEJBQXlCO0lBQ3pCLG9DQUEyQjtPQUEzQixpQ0FBMkI7U0FBM0IsK0JBQTJCO1lBQTNCLDRCQUEyQjtJQUMzQiwrREFBOEQsRUFBRTtFQUNsRTs7SUFFRSx1QkFBc0I7SUFDdEIsb0JBQW1CO0lBQ25CLGdCQUFlLEVBQUU7RUFDbkI7O0lBRUUsY0FBYSxFQUFFOztBQUVuQjtFQUNFLGdCQUFlO0VBQ2YsaUJBQWdCLEVBQUU7O0FBRXBCO0VBQ0UsVUFBUyxFQUFFOztBQUViO0VBQ0UsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsU0FBUTtFQUNSLFdBQVU7RUFDVixhQUFZO0VBQ1osaUJBQWdCO0VBQ2hCLG9CQUFtQjtFQUNuQixnQ0FBdUI7S0FBdkIsNkJBQXVCO1VBQXZCLHdCQUF1QjtFQUN2QixxQkFBb0I7RUFDcEIsbUJBQWtCO0VBQ2xCLGtCQUFpQjtFQUNqQix5QkFBd0I7RUFDeEIsa0JBQWlCO0VBQ2pCLG9CQUFtQixFQUFFOztBQUV2QixVQUFTO0FBQ1Q7RUFDRSxnQkFBZTtFQUNmLDJCQUEwQjtFQUMxQixnQkFBZSxFQUFFOztBQUVuQjtFQUNFLGdCQUFlO0VBQ2Ysb0JBQW1CO0VBQ25CLGNBQWE7RUFDYixzQkFBcUI7RUFDckIscUJBQW9CO0VBQ3BCLHdCQUF1QjtFQUN2Qix1QkFBc0IsRUFBRTs7QUFFMUI7RUFDRSxpQkFBZ0I7RUFDaEIsb0JBQW1CO0VBQ25CLG1CQUFrQjtFQUNsQixnQkFBZTtFQUNmLHFCQUFvQjtFQUNwQixtQkFBa0I7RUFDbEIsa0JBQWlCO0VBQ2pCLHlCQUF3QjtFQUN4QixrQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxnQkFBZTtFQUNmLGlCQUFnQjtFQUNoQixvQkFBbUI7RUFDbkIsa0JBQWlCO0VBQ2pCLG9CQUFtQjtFQUNuQixnQkFBZTtFQUNmLGtCQUFpQjtFQUNqQix5QkFBd0I7RUFDeEIsc0JBQXFCO0VBQ3JCLHVCQUFzQjtFQUN0Qiw4QkFBNkIsRUFBRTs7QUFFakM7RUFDRSxnQkFBZTtFQUNmLGdCQUFlO0VBQ2YscUJBQW9CO0VBQ3BCLGNBQWEsRUFBRTtFQUNmO0lBQ0UsdUJBQXNCO0lBQ3RCLGVBQWM7SUFDZCxnQkFBZTtJQUNmLDhCQUE2QjtJQUM3QiwwQkFBeUI7SUFDekIsb0NBQTJCO09BQTNCLGlDQUEyQjtTQUEzQiwrQkFBMkI7WUFBM0IsNEJBQTJCO0lBQzNCLGtEQUFpRCxFQUFFOztBQUV2RDtFQUNFLGdCQUFlO0VBQ2Ysb0JBQW1CO0VBQ25CLGdCQUFlO0VBQ2YsZ0JBQWU7RUFDZixlQUFjO0VBQ2QsZ0JBQWU7RUFDZiwyQkFBMEI7RUFDMUIseUNBQWdDO0tBQWhDLHNDQUFnQztVQUFoQyxpQ0FBZ0M7RUFDaEMsOEJBQTZCO0VBQzdCLDBCQUF5QjtFQUN6QixvQ0FBMkI7S0FBM0IsaUNBQTJCO09BQTNCLCtCQUEyQjtVQUEzQiw0QkFBMkI7RUFDM0Isb0RBQW1ELEVBQUU7O0FBRXZELHlCQUF3QjtBQUN4QjtFQUNFLGdCQUFlO0VBQ2Ysb0JBQW1CO0VBQ25CLGdCQUFlO0VBQ2YsaUJBQWdCO0VBQ2hCLGFBQVk7RUFDWixVQUFTO0VBQ1Qsc0JBQXFCO0VBQ3JCLDhCQUE2QjtFQUM3QiwwQkFBeUI7RUFDekIsb0NBQTJCO0tBQTNCLGlDQUEyQjtPQUEzQiwrQkFBMkI7VUFBM0IsNEJBQTJCO0VBQzNCLDJEQUEwRCxFQUFFIiwiZmlsZSI6ImJhc2VXaW4vaW5kZXguY3NzIiwic291cmNlUm9vdCI6Ii4uL3Nhc3MvIn0= */