@import "../_config";
html,
body {
    background-color: #ffffff;
}

.ui-classification {
    overflow: hidden;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: #d9d9d9;
        transform: translateY(.5);
        opacity: .5;
    }
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.ui-classification__item {
    float: left;
    width: 2.5rem;
    height: 2.4rem;
    position: relative;
    box-shadow: -1px 1px 0 0 #D9D9D9 inset;
    &:nth-child(3n) {
        box-shadow: 0 1px 0 0 #D9D9D9 inset;
    }
    &:nth-child(1),
    &:nth-child(2) {
        box-shadow: -1px 0 0 0 #D9D9D9 inset;
    }
    &:nth-child(3) {
        box-shadow: none;
    }
}
.ui-classification__pic{
    width: 0.8rem;
    height: 0.86rem;
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-top: -0.3rem;
}
.ui-classification__text{
    margin-top: 0.5rem;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    font-size: 0.3rem;
}
