@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
html,
body {
  background-color: #ffffff; }

.ui-classification {
  overflow: hidden;
  position: relative; }
  .ui-classification::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
    -webkit-transform: translateY(0.5);
       -moz-transform: translateY(0.5);
        -ms-transform: translateY(0.5);
         -o-transform: translateY(0.5);
            transform: translateY(0.5);
    opacity: .5; }
  .ui-classification::after {
    content: "";
    clear: both;
    display: table; }

.ui-classification__item {
  float: left;
  width: 2.5rem;
  height: 2.4rem;
  position: relative;
  -webkit-box-shadow: -1px 1px 0 0 #D9D9D9 inset;
     -moz-box-shadow: -1px 1px 0 0 #D9D9D9 inset;
          box-shadow: -1px 1px 0 0 #D9D9D9 inset; }
  .ui-classification__item:nth-child(3n) {
    -webkit-box-shadow: 0 1px 0 0 #D9D9D9 inset;
       -moz-box-shadow: 0 1px 0 0 #D9D9D9 inset;
            box-shadow: 0 1px 0 0 #D9D9D9 inset; }
  .ui-classification__item:nth-child(1), .ui-classification__item:nth-child(2) {
    -webkit-box-shadow: -1px 0 0 0 #D9D9D9 inset;
       -moz-box-shadow: -1px 0 0 0 #D9D9D9 inset;
            box-shadow: -1px 0 0 0 #D9D9D9 inset; }
  .ui-classification__item:nth-child(3) {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none; }

.ui-classification__pic {
  width: 0.8rem;
  height: 0.86rem;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100%;
       -o-background-size: 100%;
          background-size: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
       -o-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  margin-top: -0.3rem; }

.ui-classification__text {
  margin-top: 0.5rem;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
  font-size: 0.3rem; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNsYXNzaWZpY2F0aW9uLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxrQkFBaUI7QUFDakI7O0lBRUc7QUFDSDs7SUFFRztBQUNILDBCQUF5QjtBQUN6Qjs7O0lBR0c7QUFDSCxtQkFBa0I7QUFDbEIsa0JBQWlCO0FBQ2pCOzs7OztJQUtHO0FBQ0gsVUFBUztBQUNULFVBQVM7QUFDVCxhQUFZO0FBQ1osWUFBVztBQUNYLFlBQVc7QUFDWCxXQUFVO0FBQ1YsWUFBVztBQUNYLFdBQVU7QUFDVixXQUFVO0FBQ1YsV0FBVTtBQUNWLFNBQVE7QUFDUixXQUFVO0FBQ1YsV0FBVTtBQUNWLFdBQVU7QUFDVixZQUFXO0FBQ1g7O0VBRUUsMkJBQTBCLEVBQUU7O0FBRTlCO0VBQ0Usa0JBQWlCO0VBQ2pCLG9CQUFtQixFQUFFO0VBQ3JCO0lBQ0UsYUFBWTtJQUNaLG9CQUFtQjtJQUNuQixTQUFRO0lBQ1IsV0FBVTtJQUNWLGFBQVk7SUFDWixhQUFZO0lBQ1osMkJBQTBCO0lBQzFCLG9DQUEyQjtPQUEzQixpQ0FBMkI7UUFBM0IsZ0NBQTJCO1NBQTNCLCtCQUEyQjtZQUEzQiw0QkFBMkI7SUFDM0IsYUFBWSxFQUFFO0VBQ2hCO0lBQ0UsYUFBWTtJQUNaLGFBQVk7SUFDWixnQkFBZSxFQUFFOztBQUVyQjtFQUNFLGFBQVk7RUFDWixlQUFjO0VBQ2QsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsZ0RBQXVDO0tBQXZDLDZDQUF1QztVQUF2Qyx3Q0FBdUMsRUFBRTtFQUN6QztJQUNFLDZDQUFvQztPQUFwQywwQ0FBb0M7WUFBcEMscUNBQW9DLEVBQUU7RUFDeEM7SUFDRSw4Q0FBcUM7T0FBckMsMkNBQXFDO1lBQXJDLHNDQUFxQyxFQUFFO0VBQ3pDO0lBQ0UsMEJBQWlCO09BQWpCLHVCQUFpQjtZQUFqQixrQkFBaUIsRUFBRTs7QUFFdkI7RUFDRSxlQUFjO0VBQ2QsaUJBQWdCO0VBQ2hCLDhCQUE2QjtFQUM3QixvQ0FBc0I7S0FBdEIsNEJBQXNCO09BQXRCLDBCQUFzQjtVQUF0Qix1QkFBc0I7RUFDdEIsb0JBQW1CO0VBQ25CLFVBQVM7RUFDVCxXQUFVO0VBQ1Ysc0RBQTZDO0tBQTdDLG1EQUE2QztNQUE3QyxrREFBNkM7T0FBN0MsaURBQTZDO1VBQTdDLDhDQUE2QztFQUM3QyxxQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxvQkFBbUI7RUFDbkIsb0JBQW1CO0VBQ25CLFNBQVE7RUFDUixVQUFTO0VBQ1QsYUFBWTtFQUNaLHFDQUE0QjtLQUE1QixrQ0FBNEI7TUFBNUIsaUNBQTRCO09BQTVCLGdDQUE0QjtVQUE1Qiw2QkFBNEI7RUFDNUIsb0JBQW1CO0VBQ25CLGtCQUFpQjtFQUNqQixxQkFBb0I7RUFDcEIsdUJBQXNCO0VBQ3RCLHVCQUFzQjtFQUN0Qix5QkFBd0I7RUFDeEIsbUJBQWtCLEVBQUUiLCJmaWxlIjoic2hhcmluZy9jbGFzc2lmaWNhdGlvbi5jc3MiLCJzb3VyY2VSb290IjoiLi4vc2Fzcy8ifQ== */