@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
.ui-header {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.34rem;
  color: #fff;
  background-color: #38373C;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 999; }
  .ui-header:after {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #c2c2c7;
    -webkit-transform: scale(1, 0.5);
       -moz-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
         -o-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
        -ms-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center; }

.ui-header__leftBtn,
.ui-header__rightBtn {
  display: block;
  position: absolute;
  bottom: 0;
  width: 0.88rem;
  height: 0.88rem;
  text-align: center;
  z-index: 9; }
  .ui-header__leftBtn > i,
  .ui-header__rightBtn > i {
    display: inline-block;
    vertical-align: middle; }

.ui-header__rightBtn {
  text-align: right; }

.ui-header__mainLeftBtn,
.ui-header__mainRightBtn,
.ui-header__sharingRightBtn {
  display: block;
  position: absolute;
  bottom: 0;
  width: 1.22rem;
  height: 0.88rem;
  text-align: center;
  z-index: 9; }
  .ui-header__mainLeftBtn > i,
  .ui-header__mainRightBtn > i,
  .ui-header__sharingRightBtn > i {
    display: inline-block;
    vertical-align: middle; }

.ui-header__mainLeftBtn > i {
  width: 0.34rem;
  height: 0.44rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  background-image: url(../../image/main/position.png); }

.ui-header__mainRightBtn {
  right: 0; }
  .ui-header__mainRightBtn > .ui-header__mainChangeStyle {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.4rem;
    height: 0.4rem;
    margin-top: -0.2rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    background-image: url(../../image/main/change.png); }
  .ui-header__mainRightBtn > .ui-header__mainAdd {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0.2rem;
    width: 0.4rem;
    height: 0.4rem;
    margin-top: -0.2rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    background-image: url(../../image/main/add.png); }

.ui-header__sharingRightBtn {
  right: 0; }

.ui-header__searchCancel {
  text-align: center; }

.ui-header__class {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -0.162rem;
  margin-right: -0.162rem;
  width: 0.325rem;
  height: 0.325rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  background-image: url(../../image/sharing/main-sharingClass.png); }

.ui-header__title {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.88rem;
  padding: 0 0.88rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  text-align: center; }

.ui-header__search {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 92%;
  height: 0.88rem;
  padding: 0 1.22rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  text-align: center; }
  .ui-header__search > div {
    display: block;
    position: relative;
    top: 50%;
    height: 0.55rem;
    margin-top: -0.27rem;
    font-size: 14px;
    line-height: 0.55rem;
    color: #fff;
    -webkit-border-radius: 0.27rem;
       -moz-border-radius: 0.27rem;
            border-radius: 0.27rem;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent; }
  .ui-header__search > input {
    display: block;
    position: relative;
    top: 50%;
    height: 0.55rem;
    padding-left: 30px;
    margin-top: -0.27rem;
    font-size: 14px;
    line-height: 0.55rem;
    color: #fff;
    -webkit-border-radius: 0.27rem;
       -moz-border-radius: 0.27rem;
            border-radius: 0.27rem;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent; }
  .ui-header__search:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 1.44rem;
    width: 0.34rem;
    height: 0.34rem;
    margin-top: -0.17rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    background-image: url(../../image/main/search.png); }

.ui-mainHeader {
  display: block;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f47933; }

.ui-list {
  height: 100%;
  padding: .2rem;
  overflow: scroll; }

.ui-square::after {
  content: "";
  clear: both;
  display: table; }

.ui-square__item {
  float: left;
  height: 2rem;
  width: 3.45rem;
  overflow: hidden;
  position: relative;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  margin-right: 0.2rem;
  -webkit-border-radius: 0.08rem;
     -moz-border-radius: 0.08rem;
          border-radius: 0.08rem; }
  .ui-square__item:nth-child(2n) {
    margin-right: 0; }

.ui-square__main {
  height: 2rem;
  width: 3.35rem;
  overflow: hidden;
  position: relative;
  margin-left: 0.1rem;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 0; }
  .ui-square__main div {
    overflow: hidden;
    white-space: nowrap;
    word-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis; }

.ui-square__title {
  color: #fff;
  font-size: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  margin-top: 0.2rem; }

.ui-square__detail {
  color: #000;
  font-size: 0.18rem;
  height: 0.18rem;
  line-height: 0.18rem;
  visibility: hidden; }

.ui-square__desc {
  color: #fff;
  font-size: 0.24rem;
  height: 0.28rem;
  line-height: 0.28rem;
  margin-top: 0.05rem; }

.ui-square__price {
  color: #fff;
  font-size: 0.18rem;
  height: 0.24rem;
  line-height: 0.24rem;
  margin-top: 0.1rem; }

.ui-square__button {
  margin-top: 0.15rem;
  color: #fff;
  font-size: 0.18rem;
  width: 1.05rem;
  height: 0.33rem;
  line-height: 0.33rem;
  display: inline-block;
  background-color: #BF2121;
  -webkit-border-radius: 0.1rem;
     -moz-border-radius: 0.1rem;
          border-radius: 0.1rem; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNxdWFyZS5jc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUEsa0JBQWlCO0FBQ2pCOztJQUVHO0FBQ0g7O0lBRUc7QUFDSCwwQkFBeUI7QUFDekI7OztJQUdHO0FBQ0gsbUJBQWtCO0FBQ2xCLGtCQUFpQjtBQUNqQjs7Ozs7SUFLRztBQUNILFVBQVM7QUFDVCxVQUFTO0FBQ1QsYUFBWTtBQUNaLFlBQVc7QUFDWCxZQUFXO0FBQ1gsV0FBVTtBQUNWLFlBQVc7QUFDWCxXQUFVO0FBQ1YsV0FBVTtBQUNWLFdBQVU7QUFDVixTQUFRO0FBQ1IsV0FBVTtBQUNWLFdBQVU7QUFDVixXQUFVO0FBQ1YsWUFBVztBQUNYO0VBQ0UsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsU0FBUTtFQUNSLFFBQU87RUFDUCxhQUFZO0VBQ1osaUJBQWdCO0VBQ2hCLHNCQUFxQjtFQUNyQixvQkFBbUI7RUFDbkIsYUFBWTtFQUNaLDJCQUEwQjtFQUMxQixpQ0FBd0I7S0FBeEIsOEJBQXdCO1VBQXhCLHlCQUF3QjtFQUN4QixjQUFhLEVBQUU7RUFDZjtJQUNFLGFBQVk7SUFDWixlQUFjO0lBQ2Qsb0JBQW1CO0lBQ25CLFNBQVE7SUFDUixXQUFVO0lBQ1YsYUFBWTtJQUNaLGFBQVk7SUFDWiwyQkFBMEI7SUFDMUIsa0NBQXlCO09BQXpCLCtCQUF5QjtRQUF6Qiw4QkFBeUI7U0FBekIsNkJBQXlCO1lBQXpCLDBCQUF5QjtJQUN6Qix5Q0FBZ0M7T0FBaEMsc0NBQWdDO1FBQWhDLHFDQUFnQztTQUFoQyxvQ0FBZ0M7WUFBaEMsaUNBQWdDLEVBQUU7O0FBRXRDOztFQUVFLGdCQUFlO0VBQ2Ysb0JBQW1CO0VBQ25CLFdBQVU7RUFDVixnQkFBZTtFQUNmLGlCQUFnQjtFQUNoQixvQkFBbUI7RUFDbkIsWUFBVyxFQUFFO0VBQ2I7O0lBRUUsdUJBQXNCO0lBQ3RCLHdCQUF1QixFQUFFOztBQUU3QjtFQUNFLG1CQUFrQixFQUFFOztBQUV0Qjs7O0VBR0UsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsV0FBVTtFQUNWLGdCQUFlO0VBQ2YsaUJBQWdCO0VBQ2hCLG9CQUFtQjtFQUNuQixZQUFXLEVBQUU7RUFDYjs7O0lBR0UsdUJBQXNCO0lBQ3RCLHdCQUF1QixFQUFFOztBQUU3QjtFQUNFLGdCQUFlO0VBQ2YsaUJBQWdCO0VBQ2hCLDhCQUE2QjtFQUM3QiwwQkFBeUI7RUFDekIsb0NBQTJCO0tBQTNCLGlDQUEyQjtPQUEzQiwrQkFBMkI7VUFBM0IsNEJBQTJCO0VBQzNCLHNEQUFxRCxFQUFFOztBQUV6RDtFQUNFLFVBQVMsRUFBRTtFQUNYO0lBQ0UsdUJBQXNCO0lBQ3RCLG9CQUFtQjtJQUNuQixVQUFTO0lBQ1QsU0FBUTtJQUNSLGVBQWM7SUFDZCxnQkFBZTtJQUNmLHFCQUFvQjtJQUNwQiw4QkFBNkI7SUFDN0IsMEJBQXlCO0lBQ3pCLG9DQUEyQjtPQUEzQixpQ0FBMkI7U0FBM0IsK0JBQTJCO1lBQTNCLDRCQUEyQjtJQUMzQixvREFBbUQsRUFBRTtFQUN2RDtJQUNFLHVCQUFzQjtJQUN0QixvQkFBbUI7SUFDbkIsVUFBUztJQUNULGVBQWM7SUFDZCxlQUFjO0lBQ2QsZ0JBQWU7SUFDZixxQkFBb0I7SUFDcEIsOEJBQTZCO0lBQzdCLDBCQUF5QjtJQUN6QixvQ0FBMkI7T0FBM0IsaUNBQTJCO1NBQTNCLCtCQUEyQjtZQUEzQiw0QkFBMkI7SUFDM0IsaURBQWdELEVBQUU7O0FBRXREO0VBQ0UsVUFBUyxFQUFFOztBQUViO0VBQ0Usb0JBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsVUFBUztFQUNULFlBQVc7RUFDWCx1QkFBc0I7RUFDdEIseUJBQXdCO0VBQ3hCLGlCQUFnQjtFQUNoQixrQkFBaUI7RUFDakIsOEJBQTZCO0VBQzdCLDBCQUF5QjtFQUN6QixvQ0FBMkI7S0FBM0IsaUNBQTJCO09BQTNCLCtCQUEyQjtVQUEzQiw0QkFBMkI7RUFDM0Isa0VBQWlFLEVBQUU7O0FBRXJFO0VBQ0UsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsU0FBUTtFQUNSLFdBQVU7RUFDVixhQUFZO0VBQ1osaUJBQWdCO0VBQ2hCLG9CQUFtQjtFQUNuQixnQ0FBdUI7S0FBdkIsNkJBQXVCO1VBQXZCLHdCQUF1QjtFQUN2QixxQkFBb0I7RUFDcEIsbUJBQWtCO0VBQ2xCLGtCQUFpQjtFQUNqQix5QkFBd0I7RUFDeEIsa0JBQWlCO0VBQ2pCLG9CQUFtQixFQUFFOztBQUV2QjtFQUNFLGdCQUFlO0VBQ2Ysb0JBQW1CO0VBQ25CLFlBQVc7RUFDWCxXQUFVO0VBQ1YsWUFBVztFQUNYLGlCQUFnQjtFQUNoQixvQkFBbUI7RUFDbkIsZ0NBQXVCO0tBQXZCLDZCQUF1QjtVQUF2Qix3QkFBdUI7RUFDdkIscUJBQW9CO0VBQ3BCLG1CQUFrQjtFQUNsQixrQkFBaUI7RUFDakIseUJBQXdCO0VBQ3hCLGtCQUFpQjtFQUNqQixvQkFBbUIsRUFBRTtFQUNyQjtJQUNFLGdCQUFlO0lBQ2Ysb0JBQW1CO0lBQ25CLFVBQVM7SUFDVCxpQkFBZ0I7SUFDaEIsc0JBQXFCO0lBQ3JCLGlCQUFnQjtJQUNoQixzQkFBcUI7SUFDckIsYUFBWTtJQUNaLGdDQUF1QjtPQUF2Qiw2QkFBdUI7WUFBdkIsd0JBQXVCO0lBQ3ZCLHdCQUF1QjtJQUN2QixlQUFjO0lBQ2QsK0JBQThCLEVBQUU7RUFDbEM7SUFDRSxnQkFBZTtJQUNmLG9CQUFtQjtJQUNuQixVQUFTO0lBQ1QsaUJBQWdCO0lBQ2hCLG9CQUFtQjtJQUNuQixzQkFBcUI7SUFDckIsaUJBQWdCO0lBQ2hCLHNCQUFxQjtJQUNyQixhQUFZO0lBQ1osZ0NBQXVCO09BQXZCLDZCQUF1QjtZQUF2Qix3QkFBdUI7SUFDdkIsd0JBQXVCO0lBQ3ZCLGVBQWM7SUFDZCwrQkFBOEIsRUFBRTtFQUNsQztJQUNFLGFBQVk7SUFDWixnQkFBZTtJQUNmLG9CQUFtQjtJQUNuQixVQUFTO0lBQ1QsZUFBYztJQUNkLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLHNCQUFxQjtJQUNyQiw4QkFBNkI7SUFDN0IsMEJBQXlCO0lBQ3pCLG9DQUEyQjtPQUEzQixpQ0FBMkI7U0FBM0IsK0JBQTJCO1lBQTNCLDRCQUEyQjtJQUMzQixvREFBbUQsRUFBRTs7QUFFekQ7RUFDRSxnQkFBZTtFQUNmLGlDQUF3QjtLQUF4Qiw4QkFBd0I7VUFBeEIseUJBQXdCO0VBQ3hCLG9CQUFtQjtFQUNuQixTQUFRO0VBQ1IsUUFBTztFQUNQLGFBQVk7RUFDWiwyQkFBMEIsRUFBRTs7QUFFOUI7RUFDRSxjQUFhO0VBQ2IsZ0JBQWU7RUFDZixrQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxhQUFZO0VBQ1osYUFBWTtFQUNaLGdCQUFlLEVBQUU7O0FBRW5CO0VBQ0UsYUFBWTtFQUNaLGNBQWE7RUFDYixnQkFBZTtFQUNmLGtCQUFpQjtFQUNqQixvQkFBbUI7RUFDbkIsb0JBQW1CO0VBQ25CLHVCQUFzQjtFQUN0QixzQkFBcUI7RUFDckIsZ0NBQXVCO0tBQXZCLDZCQUF1QjtVQUF2Qix3QkFBdUIsRUFBRTtFQUN6QjtJQUNFLGlCQUFnQixFQUFFOztBQUV0QjtFQUNFLGNBQWE7RUFDYixnQkFBZTtFQUNmLGtCQUFpQjtFQUNqQixvQkFBbUI7RUFDbkIscUJBQW9CO0VBQ3BCLG9DQUEyQjtLQUEzQixpQ0FBMkI7T0FBM0IsK0JBQTJCO1VBQTNCLDRCQUEyQjtFQUMzQiw4QkFBNkI7RUFDN0Isb0JBQW1CO0VBQ25CLGNBQWEsRUFBRTtFQUNmO0lBQ0Usa0JBQWlCO0lBQ2pCLHFCQUFvQjtJQUNwQix1QkFBc0I7SUFDdEIsdUJBQXNCO0lBQ3RCLHlCQUF3QixFQUFFOztBQUU5QjtFQUNFLGFBQVk7RUFDWixtQkFBa0I7RUFDbEIsZ0JBQWU7RUFDZixxQkFBb0I7RUFDcEIsb0JBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsYUFBWTtFQUNaLG9CQUFtQjtFQUNuQixpQkFBZ0I7RUFDaEIsc0JBQXFCO0VBQ3JCLG9CQUFtQixFQUFFOztBQUV2QjtFQUNFLGFBQVk7RUFDWixvQkFBbUI7RUFDbkIsaUJBQWdCO0VBQ2hCLHNCQUFxQjtFQUNyQixxQkFBb0IsRUFBRTs7QUFFeEI7RUFDRSxhQUFZO0VBQ1osb0JBQW1CO0VBQ25CLGlCQUFnQjtFQUNoQixzQkFBcUI7RUFDckIsb0JBQW1CLEVBQUU7O0FBRXZCO0VBQ0UscUJBQW9CO0VBQ3BCLGFBQVk7RUFDWixvQkFBbUI7RUFDbkIsZ0JBQWU7RUFDZixpQkFBZ0I7RUFDaEIsc0JBQXFCO0VBQ3JCLHVCQUFzQjtFQUN0QiwyQkFBMEI7RUFDMUIsK0JBQXNCO0tBQXRCLDRCQUFzQjtVQUF0Qix1QkFBc0IsRUFBRSIsImZpbGUiOiJzaGFyaW5nL3NxdWFyZS5jc3MiLCJzb3VyY2VSb290IjoiLi4vc2Fzcy8ifQ== */