@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
.business-main .tab-list li {
  font-size: 0.30rem;
  line-height: 0.96rem;
  height: 0.96rem;
  color: #3D3D3D;
  border-bottom: 1px solid #E5E5E5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff; }
  .business-main .tab-list li .mark {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 0.20rem; }
  .business-main .tab-list li .icon-arrow {
    width: 0.40rem;
    height: 100%;
    margin: 0 0.20rem 0 0.14rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../../image/privacy/icon-arrow.png");
    -webkit-background-size: 0.19rem 0.19rem;
       -moz-background-size: 0.19rem;
         -o-background-size: 0.19rem;
            background-size: 0.19rem; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImJ1c2luZXNzLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxrQkFBaUI7QUFDakI7O0lBRUc7QUFDSDs7SUFFRztBQUNILDBCQUF5QjtBQUN6Qjs7O0lBR0c7QUFDSCxtQkFBa0I7QUFDbEIsa0JBQWlCO0FBQ2pCOzs7OztJQUtHO0FBQ0gsVUFBUztBQUNULFVBQVM7QUFDVCxhQUFZO0FBQ1osWUFBVztBQUNYLFlBQVc7QUFDWCxXQUFVO0FBQ1YsWUFBVztBQUNYLFdBQVU7QUFDVixXQUFVO0FBQ1YsV0FBVTtBQUNWLFNBQVE7QUFDUixXQUFVO0FBQ1YsV0FBVTtBQUNWLFdBQVU7QUFDVixZQUFXO0FBQ1g7RUFDRSxvQkFBbUI7RUFDbkIsc0JBQXFCO0VBQ3JCLGlCQUFnQjtFQUNoQixnQkFBZTtFQUNmLGtDQUFpQztFQUNqQyxzQkFBYztFQUFkLHVCQUFjO0VBQWQsbUJBQWM7RUFBZCxzQkFBYztFQUFkLGVBQWM7RUFDZCx3QkFBdUIsRUFBRTtFQUN6QjtJQUNFLHFCQUFRO0lBQVIsaUJBQVE7T0FBUixrQkFBUTtRQUFSLGFBQVE7WUFBUixTQUFRO0lBQ1Isc0JBQXFCLEVBQUU7RUFDekI7SUFDRSxnQkFBZTtJQUNmLGNBQWE7SUFDYiw2QkFBNEI7SUFDNUIsOEJBQTZCO0lBQzdCLG9DQUFtQztJQUNuQyw2REFBNEQ7SUFDNUQsMENBQXlCO09BQXpCLCtCQUF5QjtTQUF6Qiw2QkFBeUI7WUFBekIsMEJBQXlCLEVBQUUiLCJmaWxlIjoiYnVzaW5lc3MvYnVzaW5lc3MuY3NzIiwic291cmNlUm9vdCI6Ii4uL3Nhc3MvIn0= */