@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
body {
  overflow: hidden; }

.ui-header {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.34rem;
  color: #fff;
  background-color: #38373C;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 999; }
  .ui-header:after {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #c2c2c7;
    -webkit-transform: scale(1, 0.5);
       -moz-transform: scale(1, 0.5);
        -ms-transform: scale(1, 0.5);
         -o-transform: scale(1, 0.5);
            transform: scale(1, 0.5);
    -webkit-transform-origin: center center;
       -moz-transform-origin: center center;
        -ms-transform-origin: center center;
         -o-transform-origin: center center;
            transform-origin: center center; }

.ui-header__leftBtn,
.ui-header__rightBtn {
  display: block;
  position: absolute;
  bottom: 0;
  width: 0.88rem;
  height: 0.88rem;
  text-align: center;
  z-index: 9; }
  .ui-header__leftBtn > i,
  .ui-header__rightBtn > i {
    display: inline-block;
    vertical-align: middle; }

.ui-header__rightBtn {
  text-align: right; }

.ui-header__mainLeftBtn,
.ui-header__mainRightBtn,
.ui-header__sharingRightBtn {
  display: block;
  position: absolute;
  bottom: 0;
  width: 1.22rem;
  height: 0.88rem;
  text-align: center;
  z-index: 9; }
  .ui-header__mainLeftBtn > i,
  .ui-header__mainRightBtn > i,
  .ui-header__sharingRightBtn > i {
    display: inline-block;
    vertical-align: middle; }

.ui-header__mainLeftBtn > i {
  width: 0.34rem;
  height: 0.44rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  background-image: url(../../image/main/position.png); }

.ui-header__mainRightBtn {
  right: 0.26rem; }
  .ui-header__mainRightBtn > .ui-header__mainChangeStyle {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.44rem;
    height: 0.44rem;
    margin-top: -0.2rem;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-image: url(../../image/main/change.png); }
  .ui-header__mainRightBtn > .ui-header__mainAdd {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 0rem;
    width: 0.46rem;
    height: 0.46rem;
    margin-top: -0.2rem;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    background-image: url(../../image/main/add.png); }

.ui-header__sharingRightBtn {
  right: 0; }

.ui-header__searchCancel {
  text-align: center; }

.ui-header__class {
  display: block;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -0.162rem;
  margin-right: -0.162rem;
  width: 0.325rem;
  height: 0.325rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-background-size: 100% 100%;
     -moz-background-size: 100% 100%;
       -o-background-size: 100% 100%;
          background-size: 100% 100%;
  background-image: url(../../image/sharing/main-sharingClass.png); }

.ui-header__title {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.88rem;
  padding: 0 0.88rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  text-align: center; }

.ui-header__search {
  display: block;
  position: absolute;
  left: 10px;
  bottom: 0;
  width: 88%;
  height: 0.88rem;
  padding: 0 1.22rem;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  text-align: center; }
  .ui-header__search > div {
    display: block;
    position: relative;
    top: 50%;
    height: 0.55rem;
    margin-top: -0.27rem;
    font-size: 14px;
    padding-left: 0.46rem;
    line-height: 0.55rem;
    color: #fff;
    -webkit-border-radius: 0.27rem;
       -moz-border-radius: 0.27rem;
            border-radius: 0.27rem;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent; }
  .ui-header__search > input {
    display: block;
    position: relative;
    top: 50%;
    height: 0.55rem;
    padding-left: 30px;
    margin-top: -0.27rem;
    font-size: 16px;
    line-height: 0.55rem;
    color: #fff;
    -webkit-border-radius: 0.27rem;
       -moz-border-radius: 0.27rem;
            border-radius: 0.27rem;
    border: 1px solid #fff;
    outline: none;
    background-color: transparent; }
  .ui-header__search:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 1.4rem;
    width: 0.34rem;
    height: 0.34rem;
    margin-top: -0.17rem;
    background-repeat: no-repeat;
    background-position: 0 0;
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100% 100%;
         -o-background-size: 100% 100%;
            background-size: 100% 100%;
    background-image: url(../../image/main/search.png); }

.ui-mainHeader {
  display: block;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #f47933; }

.ui-bar {
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  height: .92rem;
  width: 100%;
  background-color: #38373C;
  color: #fff;
  text-align: center;
  font-size: 0.28rem; }

.ui-bar__item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: .66rem;
  line-height: .66rem;
  background-color: #4b4a4f;
  margin-top: 0.14rem;
  margin-bottom: 0.05rem;
  margin-left: 0.1rem;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; }
  .ui-bar__item:last-child {
    margin-right: 0.1rem; }

.isTouch {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
     -moz-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #22c25e;
  margin-top: 0.14rem;
  margin-bottom: 0.05rem;
  margin-left: 0.1rem;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px; }
  .isTouch:last-child {
    margin-right: 0.1rem; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxrQkFBaUI7QUFDakI7O0lBRUc7QUFDSDs7SUFFRztBQUNILDBCQUF5QjtBQUN6Qjs7O0lBR0c7QUFDSCxtQkFBa0I7QUFDbEIsa0JBQWlCO0FBQ2pCOzs7OztJQUtHO0FBQ0gsVUFBUztBQUNULFVBQVM7QUFDVCxhQUFZO0FBQ1osWUFBVztBQUNYLFlBQVc7QUFDWCxXQUFVO0FBQ1YsWUFBVztBQUNYLFdBQVU7QUFDVixXQUFVO0FBQ1YsV0FBVTtBQUNWLFNBQVE7QUFDUixXQUFVO0FBQ1YsV0FBVTtBQUNWLFdBQVU7QUFDVixZQUFXO0FBQ1g7RUFDRSxrQkFBaUIsRUFBRTs7QUFFckI7RUFDRSxnQkFBZTtFQUNmLG9CQUFtQjtFQUNuQixTQUFRO0VBQ1IsUUFBTztFQUNQLGFBQVk7RUFDWixpQkFBZ0I7RUFDaEIsc0JBQXFCO0VBQ3JCLG9CQUFtQjtFQUNuQixhQUFZO0VBQ1osMkJBQTBCO0VBQzFCLGlDQUF3QjtLQUF4Qiw4QkFBd0I7VUFBeEIseUJBQXdCO0VBQ3hCLGNBQWEsRUFBRTtFQUNmO0lBQ0UsYUFBWTtJQUNaLGVBQWM7SUFDZCxvQkFBbUI7SUFDbkIsU0FBUTtJQUNSLFdBQVU7SUFDVixhQUFZO0lBQ1osYUFBWTtJQUNaLDJCQUEwQjtJQUMxQixrQ0FBeUI7T0FBekIsK0JBQXlCO1FBQXpCLDhCQUF5QjtTQUF6Qiw2QkFBeUI7WUFBekIsMEJBQXlCO0lBQ3pCLHlDQUFnQztPQUFoQyxzQ0FBZ0M7UUFBaEMscUNBQWdDO1NBQWhDLG9DQUFnQztZQUFoQyxpQ0FBZ0MsRUFBRTs7QUFFdEM7O0VBRUUsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsV0FBVTtFQUNWLGdCQUFlO0VBQ2YsaUJBQWdCO0VBQ2hCLG9CQUFtQjtFQUNuQixZQUFXLEVBQUU7RUFDYjs7SUFFRSx1QkFBc0I7SUFDdEIsd0JBQXVCLEVBQUU7O0FBRTdCO0VBQ0UsbUJBQWtCLEVBQUU7O0FBRXRCOzs7RUFHRSxnQkFBZTtFQUNmLG9CQUFtQjtFQUNuQixXQUFVO0VBQ1YsZ0JBQWU7RUFDZixpQkFBZ0I7RUFDaEIsb0JBQW1CO0VBQ25CLFlBQVcsRUFBRTtFQUNiOzs7SUFHRSx1QkFBc0I7SUFDdEIsd0JBQXVCLEVBQUU7O0FBRTdCO0VBQ0UsZ0JBQWU7RUFDZixpQkFBZ0I7RUFDaEIsOEJBQTZCO0VBQzdCLDBCQUF5QjtFQUN6QixvQ0FBMkI7S0FBM0IsaUNBQTJCO09BQTNCLCtCQUEyQjtVQUEzQiw0QkFBMkI7RUFDM0Isc0RBQXFELEVBQUU7O0FBRXpEO0VBQ0UsZ0JBQWUsRUFBRTtFQUNqQjtJQUNFLHVCQUFzQjtJQUN0QixvQkFBbUI7SUFDbkIsVUFBUztJQUNULFNBQVE7SUFDUixnQkFBZTtJQUNmLGlCQUFnQjtJQUNoQixxQkFBb0I7SUFDcEIsOEJBQTZCO0lBQzdCLG9DQUFtQztJQUNuQyxnQ0FBdUI7T0FBdkIsNkJBQXVCO1NBQXZCLDJCQUF1QjtZQUF2Qix3QkFBdUI7SUFDdkIsb0RBQW1ELEVBQUU7RUFDdkQ7SUFDRSx1QkFBc0I7SUFDdEIsb0JBQW1CO0lBQ25CLFVBQVM7SUFDVCxhQUFZO0lBQ1osZ0JBQWU7SUFDZixpQkFBZ0I7SUFDaEIscUJBQW9CO0lBQ3BCLDhCQUE2QjtJQUM3QixvQ0FBbUM7SUFDbkMsZ0NBQXVCO09BQXZCLDZCQUF1QjtTQUF2QiwyQkFBdUI7WUFBdkIsd0JBQXVCO0lBQ3ZCLGlEQUFnRCxFQUFFOztBQUV0RDtFQUNFLFVBQVMsRUFBRTs7QUFFYjtFQUNFLG9CQUFtQixFQUFFOztBQUV2QjtFQUNFLGdCQUFlO0VBQ2Ysb0JBQW1CO0VBQ25CLFVBQVM7RUFDVCxZQUFXO0VBQ1gsdUJBQXNCO0VBQ3RCLHlCQUF3QjtFQUN4QixpQkFBZ0I7RUFDaEIsa0JBQWlCO0VBQ2pCLDhCQUE2QjtFQUM3QiwwQkFBeUI7RUFDekIsb0NBQTJCO0tBQTNCLGlDQUEyQjtPQUEzQiwrQkFBMkI7VUFBM0IsNEJBQTJCO0VBQzNCLGtFQUFpRSxFQUFFOztBQUVyRTtFQUNFLGdCQUFlO0VBQ2Ysb0JBQW1CO0VBQ25CLFNBQVE7RUFDUixXQUFVO0VBQ1YsYUFBWTtFQUNaLGlCQUFnQjtFQUNoQixvQkFBbUI7RUFDbkIsZ0NBQXVCO0tBQXZCLDZCQUF1QjtVQUF2Qix3QkFBdUI7RUFDdkIscUJBQW9CO0VBQ3BCLG1CQUFrQjtFQUNsQixrQkFBaUI7RUFDakIseUJBQXdCO0VBQ3hCLGtCQUFpQjtFQUNqQixvQkFBbUIsRUFBRTs7QUFFdkI7RUFDRSxnQkFBZTtFQUNmLG9CQUFtQjtFQUNuQixZQUFXO0VBQ1gsV0FBVTtFQUNWLFlBQVc7RUFDWCxpQkFBZ0I7RUFDaEIsb0JBQW1CO0VBQ25CLGdDQUF1QjtLQUF2Qiw2QkFBdUI7VUFBdkIsd0JBQXVCO0VBQ3ZCLHFCQUFvQjtFQUNwQixtQkFBa0I7RUFDbEIsa0JBQWlCO0VBQ2pCLHlCQUF3QjtFQUN4QixrQkFBaUI7RUFDakIsb0JBQW1CLEVBQUU7RUFDckI7SUFDRSxnQkFBZTtJQUNmLG9CQUFtQjtJQUNuQixVQUFTO0lBQ1QsaUJBQWdCO0lBQ2hCLHNCQUFxQjtJQUNyQixpQkFBZ0I7SUFDaEIsdUJBQXNCO0lBQ3RCLHNCQUFxQjtJQUNyQixhQUFZO0lBQ1osZ0NBQXVCO09BQXZCLDZCQUF1QjtZQUF2Qix3QkFBdUI7SUFDdkIsd0JBQXVCO0lBQ3ZCLGVBQWM7SUFDZCwrQkFBOEIsRUFBRTtFQUNsQztJQUNFLGdCQUFlO0lBQ2Ysb0JBQW1CO0lBQ25CLFVBQVM7SUFDVCxpQkFBZ0I7SUFDaEIsb0JBQW1CO0lBQ25CLHNCQUFxQjtJQUNyQixpQkFBZ0I7SUFDaEIsc0JBQXFCO0lBQ3JCLGFBQVk7SUFDWixnQ0FBdUI7T0FBdkIsNkJBQXVCO1lBQXZCLHdCQUF1QjtJQUN2Qix3QkFBdUI7SUFDdkIsZUFBYztJQUNkLCtCQUE4QixFQUFFO0VBQ2xDO0lBQ0UsYUFBWTtJQUNaLGdCQUFlO0lBQ2Ysb0JBQW1CO0lBQ25CLFVBQVM7SUFDVCxjQUFhO0lBQ2IsZ0JBQWU7SUFDZixpQkFBZ0I7SUFDaEIsc0JBQXFCO0lBQ3JCLDhCQUE2QjtJQUM3QiwwQkFBeUI7SUFDekIsb0NBQTJCO09BQTNCLGlDQUEyQjtTQUEzQiwrQkFBMkI7WUFBM0IsNEJBQTJCO0lBQzNCLG9EQUFtRCxFQUFFOztBQUV6RDtFQUNFLGdCQUFlO0VBQ2YsaUNBQXdCO0tBQXhCLDhCQUF3QjtVQUF4Qix5QkFBd0I7RUFDeEIsb0JBQW1CO0VBQ25CLFNBQVE7RUFDUixRQUFPO0VBQ1AsYUFBWTtFQUNaLDJCQUEwQixFQUFFOztBQUU5QjtFQUNFLGdCQUFlO0VBQ2Ysc0JBQWM7RUFBZCx1QkFBYztFQUFkLG1CQUFjO0VBQWQsc0JBQWM7RUFBZCxlQUFjO0VBQ2QsZ0JBQWU7RUFDZixhQUFZO0VBQ1osMkJBQTBCO0VBQzFCLGFBQVk7RUFDWixvQkFBbUI7RUFDbkIsb0JBQW1CLEVBQUU7O0FBRXZCO0VBQ0UscUJBQVE7RUFBUixpQkFBUTtLQUFSLGtCQUFRO01BQVIsYUFBUTtVQUFSLFNBQVE7RUFDUixnQkFBZTtFQUNmLHFCQUFvQjtFQUNwQiwyQkFBMEI7RUFDMUIscUJBQW9CO0VBQ3BCLHdCQUF1QjtFQUN2QixxQkFBb0I7RUFDcEIsNEJBQW1CO0tBQW5CLHlCQUFtQjtVQUFuQixvQkFBbUIsRUFBRTtFQUNyQjtJQUNFLHNCQUFxQixFQUFFOztBQUUzQjtFQUNFLHFCQUFRO0VBQVIsaUJBQVE7S0FBUixrQkFBUTtNQUFSLGFBQVE7VUFBUixTQUFRO0VBQ1IsMkJBQTBCO0VBQzFCLHFCQUFvQjtFQUNwQix3QkFBdUI7RUFDdkIscUJBQW9CO0VBQ3BCLDRCQUFtQjtLQUFuQix5QkFBbUI7VUFBbkIsb0JBQW1CLEVBQUU7RUFDckI7SUFDRSxzQkFBcUIsRUFBRSIsImZpbGUiOiJtZXNzYWdlL2luZGV4LmNzcyIsInNvdXJjZVJvb3QiOiIuLi9zYXNzLyJ9 */