@charset "UTF-8";
/* @name: 转为REM单位fn
 * @ps: 默认宽度为750px
 */
/* @name: 上下左右居中 (未知高度)
 * @ps: 需要设置父元素 display:table
 */
/* @name: 上下左右居中 （确定高度）*/
/*
 * @name: 文字溢出显示省略号
 * @ps: 需要设置宽度
 */
/* @name: 强制不换行 */
/* @name: 清除浮动 */
/*
 * @name:  三角形
 * @param: $size  大小
 * @param: $color 颜色
 * @param: $type {string}  类型 (up || down || left || right || topleft || topright || bottomleft || bottomright)
 */
/* 主色调 */
/* 辅助色 */
/* 标题栏背景色 */
/* 页面背景色 */
/* 分隔线颜色 */
/* 字体主色 */
/* 字体辅助色 */
/* 一级标题 */
/* 二级标题 */
/* 三级标题 */
/* 正文 */
/* 说明文字 */
/* 导航字体 */
/* 按钮圆角 */
/* 遮罩透明度 */
body,
html {
  height: 100%;
  padding-top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
  background-image: url(../../image/account/bg.png); }

.ui-header {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.34rem;
  color: #fff;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  z-index: 999;
  background-color: transparent; }
  .ui-header:after {
    display: none; }

.ui-header__leftBtn {
  font-size: 0; }
  .ui-header__leftBtn > i {
    display: inline-block;
    vertical-align: middle; }
    .ui-header__leftBtn > i.is-arrow {
      width: 0.24rem;
      height: 0.42rem;
      background-repeat: no-repeat;
      background-position: 0 0;
      -webkit-background-size: 100% 100%;
         -moz-background-size: 100% 100%;
           -o-background-size: 100% 100%;
              background-size: 100% 100%;
      background-image: url(../../image/common/icon-arrow-back.png); }

.container {
  font-size: 0;
  height: 100%;
  padding-top: 0.88rem;
  background-repeat: no-repeat;
  background-position: 0 0; }

.logo-group {
  padding-top: 1rem; }
  .logo-group .icon-logo {
    width: 1.58rem;
    height: 1.56rem;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../../image/account/logo.png);
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%; }
  .logo-group .logo-name {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    color: #fff;
    text-align: center;
    text-shadow: 0 0.04rem 0.04rem rgba(0, 0, 0, 0.5); }
    .logo-group .logo-name .mark {
      font-size: 0.36rem;
      line-height: 0.43rem;
      margin-bottom: 0.10rem; }
    .logo-group .logo-name .submark {
      font-size: 0.24rem;
      line-height: 0.28rem; }
  .logo-group .logo-desc {
    font-size: 0.28rem;
    line-height: 0.40rem;
    color: #fff;
    text-align: center; }

.operate-group {
  margin-top: 1rem;
  width: 5.22rem;
  margin: 0 auto; }
  .operate-group .btn-login,
  .operate-group .btn-next,
  .operate-group .btn-signup {
    display: block;
    width: 100%;
    height: 0.80rem;
    line-height: 0.80rem;
    margin-bottom: 0.64rem;
    text-align: center;
    font-size: 0.28rem;
    color: #fff;
    -webkit-box-shadow: 0 0.05rem 0.04rem rgba(88, 88, 88, 0.5);
       -moz-box-shadow: 0 0.05rem 0.04rem rgba(88, 88, 88, 0.5);
            box-shadow: 0 0.05rem 0.04rem rgba(88, 88, 88, 0.5);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px; }
  .operate-group .btn-login,
  .operate-group .btn-next {
    margin-top: 1rem;
    background-color: #B1E04A; }
  .operate-group .btn-signup {
    border: 1px #FFF solid; }
  .operate-group .btn-forgetpwd {
    font-size: 0.24rem;
    line-height: 0.36rem;
    color: #fff;
    float: right;
    margin-top: -.46rem;
    margin-bottom: 0.40rem; }
  .operate-group .third-party-title {
    clear: both;
    font-size: 0.24rem;
    line-height: 0.36rem;
    color: #fff;
    text-align: center;
    position: relative;
    margin-bottom: 0.80rem;
    overflow: hidden; }
    .operate-group .third-party-title::before {
      content: "";
      width: 50%;
      border-top: 1px solid #fff;
      position: absolute;
      left: -35%;
      top: 50%; }
    .operate-group .third-party-title::after {
      content: "";
      width: 50%;
      border-top: 1px solid #fff;
      position: absolute;
      left: 85%;
      top: 50%; }
  .operate-group .third-party-main {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0.3rem; }
    .operate-group .third-party-main a {
      display: block;
      width: 0.60rem;
      height: 0.60rem;
      text-indent: -1000px;
      background-repeat: no-repeat;
      background-position: center center;
      cursor: pointer; }
    .operate-group .third-party-main .btn-weixin {
      background-image: url("../../image/account/icon-weixin.png");
      -webkit-background-size: 0.54rem 0.54rem;
         -moz-background-size: 0.54rem;
           -o-background-size: 0.54rem;
              background-size: 0.54rem; }
    .operate-group .third-party-main .btn-qq {
      background-image: url("../../image/account/icon-qq.png");
      -webkit-background-size: 0.61rem 0.61rem;
         -moz-background-size: 0.61rem;
           -o-background-size: 0.61rem;
              background-size: 0.61rem; }
    .operate-group .third-party-main .btn-weibo {
      background-image: url("../../image/account/icon-weibo.png");
      -webkit-background-size: 0.60rem 0.60rem;
         -moz-background-size: 0.60rem;
           -o-background-size: 0.60rem;
              background-size: 0.60rem; }

.input {
  font-size: 0.26rem;
  line-height: 0.80rem;
  height: 0.80rem;
  border-bottom: 1px solid #fff;
  padding-left: 1.00rem;
  background-repeat: no-repeat;
  background-position: left center;
  position: relative; }
  .input input {
    border: none;
    background-color: transparent;
    outline: none;
    color: #fff;
    width: 100%;
    height: 100%;
    line-height: 100%; }
  .input .btn-delete {
    width: 0.38rem;
    height: 0.38rem;
    position: absolute;
    top: 50%;
    right: -.50rem;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../../image/account/icon-delete.png");
    -webkit-background-size: 0.38rem 0.38rem;
       -moz-background-size: 0.38rem;
         -o-background-size: 0.38rem;
            background-size: 0.38rem; }

.input-account {
  margin-bottom: 0.30rem;
  background-image: url("../../image/account/icon-accout.png");
  -webkit-background-size: 0.34rem 0.34rem;
     -moz-background-size: 0.34rem;
       -o-background-size: 0.34rem;
          background-size: 0.34rem; }

.input-password {
  margin-bottom: 0.85rem;
  background-image: url("../../image/account/icon-password.png");
  -webkit-background-size: 0.30rem 0.30rem;
     -moz-background-size: 0.30rem;
       -o-background-size: 0.30rem;
          background-size: 0.30rem; }

.use-tips {
  font-size: 0.22rem;
  line-height: 0.30rem;
  color: #B5B5B5;
  text-align: center;
  margin-top: 2.22rem; }
  .use-tips .btn-tips {
    color: #fff; }

.information {
  min-height: 100%;
  padding: 0 0.20rem;
  background-color: #515151;
  overflow: hidden; }
  .information .avatar {
    width: 2.42rem;
    height: 2.42rem;
    margin: 0.60rem auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("../../image/account/icon-avatar.png");
    -webkit-background-size: 100% 100%;
       -moz-background-size: 100%;
         -o-background-size: 100%;
            background-size: 100%;
    -webkit-border-radius: 100px;
       -moz-border-radius: 100px;
            border-radius: 100px; }
  .information .input-group {
    padding: 0.20rem;
    background-color: #98C13E;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    margin-bottom: 0.20rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex; }
    .information .input-group input[type="text"] {
      font-size: 0.30rem;
      line-height: 0.40rem;
      color: #FFFFFF;
      text-align: center;
      vertical-align: top;
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: block; }
      .information .input-group input[type="text"]::-webkit-input-placeholder {
        color: #fff !important; }
    .information .input-group textarea {
      font-size: 0.30rem;
      line-height: 0.40rem;
      color: #FFFFFF;
      text-align: center;
      vertical-align: top;
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      display: block; }
      .information .input-group textarea::-webkit-input-placeholder {
        color: #fff !important; }
    .information .input-group .sex {
      width: 0.47rem;
      height: 0.47rem;
      margin: 0 0.20rem;
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
         -moz-background-size: 100%;
           -o-background-size: 100%;
              background-size: 100%;
      position: relative;
      font-size: 0;
      -webkit-border-radius: 100%;
         -moz-border-radius: 100%;
              border-radius: 100%;
      border: none; }
    .information .input-group .s-man {
      background-image: url("../../image/account/icon-man.png"); }
      .information .input-group .s-man .man {
        display: block; }
    .information .input-group .s-woman {
      background-image: url("../../image/account/icon-woman.png"); }
      .information .input-group .s-woman .woman {
        display: block; }
    .information .input-group select {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none; }
    .information .input-group option {
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none; }

.find-pwd {
  min-height: 100%;
  background-color: #fff;
  overflow: hidden; }
  .find-pwd .input-group {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    height: 0.78rem;
    margin: 0.30rem 0.85rem;
    border: 1px solid #9E9E9E;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px; }
    .find-pwd .input-group input {
      width: 100%;
      height: 100%;
      line-height: 100%;
      font-size: 0.30rem;
      padding: 0 0.20rem;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      border: none;
      display: block;
      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px; }
    .find-pwd .input-group .btn-validate {
      width: 1.00rem;
      font-size: 0.28rem;
      color: #fff;
      line-height: 0.80rem;
      text-align: center;
      background-color: #B1E04A;
      margin: -1px;
      -webkit-border-top-right-radius: 4px;
         -moz-border-radius-topright: 4px;
              border-top-right-radius: 4px;
      -webkit-border-bottom-right-radius: 4px;
         -moz-border-radius-bottomright: 4px;
              border-bottom-right-radius: 4px; }
  .find-pwd .btn-next {
    font-size: 0.28rem;
    color: #fff;
    line-height: 0.80rem;
    text-align: center;
    background-color: #B1E04A;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    margin: 0.60rem 0.85rem; }

#ios4.ios4 .logo-group {
  padding-top: 0.5rem; }

#ios4.ios4 .input-password {
  margin-bottom: 0.2rem; }

#ios4.ios4 .btn-login {
  margin-top: 0.6rem; }

#ios4.ios4 .btn-next {
  margin-top: 0.6rem; }

#ios4.ios4 .third-party-title {
  margin-bottom: 0.2rem; }

#ios4.ios4 .use-tips {
  margin-top: 1.3rem; }


/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImluZGV4LmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxrQkFBaUI7QUFDakI7O0lBRUc7QUFDSDs7SUFFRztBQUNILDBCQUF5QjtBQUN6Qjs7O0lBR0c7QUFDSCxtQkFBa0I7QUFDbEIsa0JBQWlCO0FBQ2pCOzs7OztJQUtHO0FBQ0gsVUFBUztBQUNULFVBQVM7QUFDVCxhQUFZO0FBQ1osWUFBVztBQUNYLFlBQVc7QUFDWCxXQUFVO0FBQ1YsWUFBVztBQUNYLFdBQVU7QUFDVixXQUFVO0FBQ1YsV0FBVTtBQUNWLFNBQVE7QUFDUixXQUFVO0FBQ1YsV0FBVTtBQUNWLFdBQVU7QUFDVixZQUFXO0FBQ1g7O0VBRUUsY0FBYTtFQUNiLGdCQUFlO0VBQ2YsOEJBQTZCO0VBQzdCLG9DQUFtQztFQUNuQyxnQ0FBdUI7S0FBdkIsNkJBQXVCO09BQXZCLDJCQUF1QjtVQUF2Qix3QkFBdUI7RUFDdkIsbURBQWtELEVBQUU7O0FBRXREO0VBQ0UsZ0JBQWU7RUFDZixvQkFBbUI7RUFDbkIsU0FBUTtFQUNSLFFBQU87RUFDUCxhQUFZO0VBQ1osaUJBQWdCO0VBQ2hCLHNCQUFxQjtFQUNyQixvQkFBbUI7RUFDbkIsYUFBWTtFQUNaLGlDQUF3QjtLQUF4Qiw4QkFBd0I7VUFBeEIseUJBQXdCO0VBQ3hCLGNBQWE7RUFDYiwrQkFBOEIsRUFBRTtFQUNoQztJQUNFLGVBQWMsRUFBRTs7QUFFcEI7RUFDRSxjQUFhLEVBQUU7RUFDZjtJQUNFLHVCQUFzQjtJQUN0Qix3QkFBdUIsRUFBRTtJQUN6QjtNQUNFLGdCQUFlO01BQ2YsaUJBQWdCO01BQ2hCLDhCQUE2QjtNQUM3QiwwQkFBeUI7TUFDekIsb0NBQTJCO1NBQTNCLGlDQUEyQjtXQUEzQiwrQkFBMkI7Y0FBM0IsNEJBQTJCO01BQzNCLCtEQUE4RCxFQUFFOztBQUV0RTtFQUNFLGNBQWE7RUFDYixjQUFhO0VBQ2Isc0JBQXFCO0VBQ3JCLDhCQUE2QjtFQUM3QiwwQkFBeUIsRUFBRTs7QUFFN0I7RUFDRSxtQkFBa0IsRUFBRTtFQUNwQjtJQUNFLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLGdCQUFlO0lBQ2YsOEJBQTZCO0lBQzdCLDBCQUF5QjtJQUN6Qiw4QkFBNkI7SUFDN0Isb0NBQW1DO0lBQ25DLHFEQUFvRDtJQUNwRCxvQ0FBc0I7T0FBdEIsNEJBQXNCO1NBQXRCLDBCQUFzQjtZQUF0Qix1QkFBc0IsRUFBRTtFQUMxQjtJQUNFLHFCQUFvQjtJQUNwQix3QkFBdUI7SUFDdkIsYUFBWTtJQUNaLG9CQUFtQjtJQUNuQixtREFBa0QsRUFBRTtJQUNwRDtNQUNFLG9CQUFtQjtNQUNuQixzQkFBcUI7TUFDckIsd0JBQXVCLEVBQUU7SUFDM0I7TUFDRSxvQkFBbUI7TUFDbkIsc0JBQXFCLEVBQUU7RUFDM0I7SUFDRSxvQkFBbUI7SUFDbkIsc0JBQXFCO0lBQ3JCLGFBQVk7SUFDWixvQkFBbUIsRUFBRTs7QUFFekI7RUFDRSxrQkFBaUI7RUFDakIsZ0JBQWU7RUFDZixnQkFBZSxFQUFFO0VBQ2pCOzs7SUFHRSxnQkFBZTtJQUNmLGFBQVk7SUFDWixpQkFBZ0I7SUFDaEIsc0JBQXFCO0lBQ3JCLHdCQUF1QjtJQUN2QixvQkFBbUI7SUFDbkIsb0JBQW1CO0lBQ25CLGFBQVk7SUFDWiw2REFBb0Q7T0FBcEQsMERBQW9EO1lBQXBELHFEQUFvRDtJQUNwRCw0QkFBbUI7T0FBbkIseUJBQW1CO1lBQW5CLG9CQUFtQixFQUFFO0VBQ3ZCOztJQUVFLGtCQUFpQjtJQUNqQiwyQkFBMEIsRUFBRTtFQUM5QjtJQUNFLHdCQUF1QixFQUFFO0VBQzNCO0lBQ0Usb0JBQW1CO0lBQ25CLHNCQUFxQjtJQUNyQixhQUFZO0lBQ1osY0FBYTtJQUNiLHFCQUFvQjtJQUNwQix3QkFBdUIsRUFBRTtFQUMzQjtJQUNFLGFBQVk7SUFDWixvQkFBbUI7SUFDbkIsc0JBQXFCO0lBQ3JCLGFBQVk7SUFDWixvQkFBbUI7SUFDbkIsb0JBQW1CO0lBQ25CLHdCQUF1QjtJQUN2QixrQkFBaUIsRUFBRTtJQUNuQjtNQUNFLGFBQVk7TUFDWixZQUFXO01BQ1gsNEJBQTJCO01BQzNCLG9CQUFtQjtNQUNuQixZQUFXO01BQ1gsVUFBUyxFQUFFO0lBQ2I7TUFDRSxhQUFZO01BQ1osWUFBVztNQUNYLDRCQUEyQjtNQUMzQixvQkFBbUI7TUFDbkIsV0FBVTtNQUNWLFVBQVMsRUFBRTtFQUNmO0lBQ0Usc0JBQWM7SUFBZCx1QkFBYztJQUFkLG1CQUFjO0lBQWQsc0JBQWM7SUFBZCxlQUFjO0lBQ2QsMkJBQStCO0lBQS9CLHdDQUErQjtPQUEvQix3QkFBK0I7UUFBL0Isd0JBQStCO1lBQS9CLGdDQUErQjtJQUMvQixrQkFBaUIsRUFBRTtJQUNuQjtNQUNFLGdCQUFlO01BQ2YsZ0JBQWU7TUFDZixpQkFBZ0I7TUFDaEIsc0JBQXFCO01BQ3JCLDhCQUE2QjtNQUM3QixvQ0FBbUM7TUFDbkMsaUJBQWdCLEVBQUU7SUFDcEI7TUFDRSw4REFBNkQ7TUFDN0QsMENBQXlCO1NBQXpCLCtCQUF5QjtXQUF6Qiw2QkFBeUI7Y0FBekIsMEJBQXlCLEVBQUU7SUFDN0I7TUFDRSwwREFBeUQ7TUFDekQsMENBQXlCO1NBQXpCLCtCQUF5QjtXQUF6Qiw2QkFBeUI7Y0FBekIsMEJBQXlCLEVBQUU7SUFDN0I7TUFDRSw2REFBNEQ7TUFDNUQsMENBQXlCO1NBQXpCLCtCQUF5QjtXQUF6Qiw2QkFBeUI7Y0FBekIsMEJBQXlCLEVBQUU7O0FBRWpDO0VBQ0Usb0JBQW1CO0VBQ25CLHNCQUFxQjtFQUNyQixpQkFBZ0I7RUFDaEIsK0JBQThCO0VBQzlCLHVCQUFzQjtFQUN0Qiw4QkFBNkI7RUFDN0Isa0NBQWlDO0VBQ2pDLG9CQUFtQixFQUFFO0VBQ3JCO0lBQ0UsY0FBYTtJQUNiLCtCQUE4QjtJQUM5QixlQUFjO0lBQ2QsYUFBWTtJQUNaLGFBQVk7SUFDWixjQUFhO0lBQ2IsbUJBQWtCLEVBQUU7RUFDdEI7SUFDRSxnQkFBZTtJQUNmLGlCQUFnQjtJQUNoQixvQkFBbUI7SUFDbkIsVUFBUztJQUNULGdCQUFlO0lBQ2YscUNBQTRCO09BQTVCLGtDQUE0QjtRQUE1QixpQ0FBNEI7U0FBNUIsZ0NBQTRCO1lBQTVCLDZCQUE0QjtJQUM1Qiw4QkFBNkI7SUFDN0IsMEJBQXlCO0lBQ3pCLDhEQUE2RDtJQUM3RCwwQ0FBeUI7T0FBekIsK0JBQXlCO1NBQXpCLDZCQUF5QjtZQUF6QiwwQkFBeUIsRUFBRTs7QUFFL0I7RUFDRSx3QkFBdUI7RUFDdkIsOERBQTZEO0VBQzdELDBDQUF5QjtLQUF6QiwrQkFBeUI7T0FBekIsNkJBQXlCO1VBQXpCLDBCQUF5QixFQUFFOztBQUU3QjtFQUNFLHdCQUF1QjtFQUN2QixnRUFBK0Q7RUFDL0QsMENBQXlCO0tBQXpCLCtCQUF5QjtPQUF6Qiw2QkFBeUI7VUFBekIsMEJBQXlCLEVBQUU7O0FBRTdCO0VBQ0Usb0JBQW1CO0VBQ25CLHNCQUFxQjtFQUNyQixnQkFBZTtFQUNmLG9CQUFtQjtFQUNuQixxQkFBb0IsRUFBRTtFQUN0QjtJQUNFLGFBQVksRUFBRTs7QUFFbEI7RUFDRSxrQkFBaUI7RUFDakIsb0JBQW1CO0VBQ25CLDJCQUEwQjtFQUMxQixrQkFBaUIsRUFBRTtFQUNuQjtJQUNFLGdCQUFlO0lBQ2YsaUJBQWdCO0lBQ2hCLHNCQUFxQjtJQUNyQixvQ0FBbUM7SUFDbkMsOEJBQTZCO0lBQzdCLDhEQUE2RDtJQUM3RCxvQ0FBc0I7T0FBdEIsNEJBQXNCO1NBQXRCLDBCQUFzQjtZQUF0Qix1QkFBc0I7SUFDdEIsOEJBQXFCO09BQXJCLDJCQUFxQjtZQUFyQixzQkFBcUIsRUFBRTtFQUN6QjtJQUNFLGtCQUFpQjtJQUNqQiwyQkFBMEI7SUFDMUIsNEJBQW1CO09BQW5CLHlCQUFtQjtZQUFuQixvQkFBbUI7SUFDbkIsd0JBQXVCO0lBQ3ZCLHNCQUFjO0lBQWQsdUJBQWM7SUFBZCxtQkFBYztJQUFkLHNCQUFjO0lBQWQsZUFBYyxFQUFFO0lBQ2hCO01BQ0Usb0JBQW1CO01BQ25CLHNCQUFxQjtNQUNyQixnQkFBZTtNQUNmLG9CQUFtQjtNQUNuQixxQkFBb0I7TUFDcEIsYUFBWTtNQUNaLGNBQWE7TUFDYiwrQkFBOEI7TUFDOUIsZUFBYztNQUNkLHFCQUFRO01BQVIsaUJBQVE7U0FBUixrQkFBUTtVQUFSLGFBQVE7Y0FBUixTQUFRO01BQ1IsZ0JBQWUsRUFBRTtNQUNqQjtRQUNFLHdCQUF1QixFQUFFO0lBQzdCO01BQ0Usb0JBQW1CO01BQ25CLHNCQUFxQjtNQUNyQixnQkFBZTtNQUNmLG9CQUFtQjtNQUNuQixxQkFBb0I7TUFDcEIsYUFBWTtNQUNaLGNBQWE7TUFDYiwrQkFBOEI7TUFDOUIsZUFBYztNQUNkLGdCQUFlLEVBQUU7TUFDakI7UUFDRSx3QkFBdUIsRUFBRTtJQUM3QjtNQUNFLGdCQUFlO01BQ2YsaUJBQWdCO01BQ2hCLG1CQUFrQjtNQUNsQixvQ0FBbUM7TUFDbkMsOEJBQTZCO01BQzdCLG9DQUFzQjtTQUF0Qiw0QkFBc0I7V0FBdEIsMEJBQXNCO2NBQXRCLHVCQUFzQjtNQUN0QixvQkFBbUI7TUFDbkIsY0FBYTtNQUNiLDZCQUFvQjtTQUFwQiwwQkFBb0I7Y0FBcEIscUJBQW9CO01BQ3BCLGNBQWEsRUFBRTtJQUNqQjtNQUNFLDJEQUEwRCxFQUFFO01BQzVEO1FBQ0UsZ0JBQWUsRUFBRTtJQUNyQjtNQUNFLDZEQUE0RCxFQUFFO01BQzlEO1FBQ0UsZ0JBQWUsRUFBRTtJQUNyQjtNQUNFLGtCQUFpQjtNQUNqQix1QkFBc0I7TUFDdEIsMEJBQXlCLEVBQUU7SUFDN0I7TUFDRSxrQkFBaUI7TUFDakIsdUJBQXNCO01BQ3RCLDBCQUF5QixFQUFFOztBQUVqQztFQUNFLGtCQUFpQjtFQUNqQix3QkFBdUI7RUFDdkIsa0JBQWlCLEVBQUU7RUFDbkI7SUFDRSxzQkFBYztJQUFkLHVCQUFjO0lBQWQsbUJBQWM7SUFBZCxzQkFBYztJQUFkLGVBQWM7SUFDZCxpQkFBZ0I7SUFDaEIseUJBQXdCO0lBQ3hCLDJCQUEwQjtJQUMxQiw0QkFBbUI7T0FBbkIseUJBQW1CO1lBQW5CLG9CQUFtQixFQUFFO0lBQ3JCO01BQ0UsYUFBWTtNQUNaLGNBQWE7TUFDYixtQkFBa0I7TUFDbEIsb0JBQW1CO01BQ25CLG9CQUFtQjtNQUNuQixxQkFBUTtNQUFSLGlCQUFRO1NBQVIsa0JBQVE7VUFBUixhQUFRO2NBQVIsU0FBUTtNQUNSLGNBQWE7TUFDYixnQkFBZTtNQUNmLDRCQUFtQjtTQUFuQix5QkFBbUI7Y0FBbkIsb0JBQW1CLEVBQUU7SUFDdkI7TUFDRSxnQkFBZTtNQUNmLG9CQUFtQjtNQUNuQixhQUFZO01BQ1osc0JBQXFCO01BQ3JCLG9CQUFtQjtNQUNuQiwyQkFBMEI7TUFDMUIsY0FBYTtNQUNiLHNDQUE2QjtTQUE3QixrQ0FBNkI7Y0FBN0IsOEJBQTZCO01BQzdCLHlDQUFnQztTQUFoQyxxQ0FBZ0M7Y0FBaEMsaUNBQWdDLEVBQUU7RUFDdEM7SUFDRSxvQkFBbUI7SUFDbkIsYUFBWTtJQUNaLHNCQUFxQjtJQUNyQixvQkFBbUI7SUFDbkIsMkJBQTBCO0lBQzFCLDRCQUFtQjtPQUFuQix5QkFBbUI7WUFBbkIsb0JBQW1CO0lBQ25CLHlCQUF3QixFQUFFOztBQUU5QjtFQUNFLHFCQUFvQixFQUFFOztBQUV4QjtFQUNFLHVCQUFzQixFQUFFOztBQUUxQjtFQUNFLG9CQUFtQixFQUFFOztBQUV2QjtFQUNFLG9CQUFtQixFQUFFOztBQUV2QjtFQUNFLHVCQUFzQixFQUFFOztBQUUxQjtFQUNFLG9CQUFtQixFQUFFIiwiZmlsZSI6ImFjY291bnQvaW5kZXguY3NzIiwic291cmNlUm9vdCI6Ii4uL3Nhc3MvIn0= */